<section class="success-container hide" id="success-banner">
    <div class="container">
        <div class="success-banner swipeFromLeft">
        <h1>Thanks for getting in touch</h1>
        <p>Someone will reach out to you shortly regarding your message.</p>
        </div>
    </div>
</section>