<div class="content two-column-grid">
    <div class="grid-item phone-img">
        <img src="/images/iphone_cropped_2x.png" alt="">
    </div>
    <div class="grid-item wrap-content">
        <h3>Try VMware Workspace<br>ONE FREE for 30 Days</h3>
        <ul>
            <li class="icon-content">
                <div> <img src="/images/rating@2x.png" alt=""></div>
                <div>Fully Functional Product Trial</div>
            </li>
            <li class="icon-content">
                <div> <img src="/images/multiple_devices@2x.png" alt=""></div>
                <div>Enroll Up to 100 Devices</div>
            </li>
            <li class="icon-content">
                <div> <img src="/images/no_credit_cards@2x.png" alt=""></div>
                <div>No Credit Card Required</div>
            </li>
        </ul>
        <button class="btn green m-b-50">Get Started Now</button>
    </div>
</div>