<section>
  <%- partial('partial/hero/medium-hero',
  {
    type: 'about',
    subContent:'',
    mainContent: 'About Apotica'
  })%>
</section>
<section class="about">
  <div class="about-apotica">
    <article class="company-statement">
      <h2>Apotica, founded in 2009, is a Pan-African IT services firm that brings together the best information
        and communications technologies to help clients grow,
        compete, and serve their customers better.
      </h2>
      <p>
          We offer the broadest range of expertise across architecture plays such as cybersecurity,
          digital infrastructure, and hybrid IT solutions.
      </p>
      <p>
          With a client base that spans broad range of industries including energy, financial services,
          technology, transport,
          and government we are uniquely positioned to build value for your investments.
      </p>
    </article>
    <div class="about-page__pictures">
      <article class="about-page__picture">
          <img src="https://storage.googleapis.com/airwatch_assets/images/about-AW-left.jpg" border="0" alt="">
      </article>
      <article class="about-page__picture">
          <img src="https://storage.googleapis.com/airwatch_assets/images/about-AW-right.jpg" border="0" alt="">
      </article>
    </div>
    <article class="company-statement">
      <h3>Our Employees</h3>
      <p>
          Our team talent runs deep and covers multiple disciplines. With an emphasis on customer success,
          employee well-being and talent development, our services teams have the experience,
          exposure, and expertise to meet all our customers requirements.
      </p>
      <div class="about-page__bottom-links">
      </div>
      <h3>Careers</h3>
      <p>
          People matter most at Apotica. Our employees work very hard to serve our customers – and we reward hard too.
          If you would love to join our vision of creating value for customers, employees, partners, and shareholders,
          write to us at <a href="mailto: hr@apotica.net">HR@apotica.net</a>
          to check on job vacancies that could suit your interests.
      </p>
      <br>
      <br>
      <br>
      <br>
    </article>
  </div>
</section>