<section>
  <%- partial('partial/hero/medium-hero',
  {
    type: 'about',
    subContent:'',
    mainContent: 'About Apotica'
  })%>
</section>
<section class="about">
  <div class="about-apotica">
    <article class="company-statement">
      <h2>Apotica, founded in 2009, is a Pan-African IT services firm that brings together the best information
        and communications technologies to help clients grow,
        compete, and serve their customers better.
      </h2>
      <p>
          We offer the broadest range of expertise across architecture plays such as cybersecurity,
          digital infrastructure, and hybrid IT solutions.
      </p>
      <p>
          With a client base that spans broad range of industries including energy, financial services,
          technology, transport,
          and government we are uniquely positioned to build value for your investments.
      </p>
    </article>
    <div class="about-page__pictures">
      <article class="about-page__picture">
          <img src="/images/about-us/aboutus_pic1.jpg"  alt="">
      </article>
      <article class="about-page__picture">
          <img src="/images/about-us/aboutus_pic2.png"  alt="">
      </article>
    </div>
    <article class="company-statement">
      <div>
        <h2>Quality Statement</h2>
        <p>
          Apotica is committed to provide goods and services, 
          meet the expectations of its customers and other interested 
          parties and continually improve its business processes to achieve its business objectives.
        </p>
      </div>
      <div>
        <h2>Vision</h2>
        <p>To become the service partner of choice for every business 
          looking to make the best of their technology investments in Ghana and beyond.</p>
      </div>
      <div>
        <h2>Mission</h2>
        <p>
          To bring together the information and communication 
          technologies to help client grow, compete and serve their customers better.
        </p>
      </div>
        <section class="m-t-30">
          <div>
            <h2>Our Employees</h2>
            <p>
              Our team talent runs deep and covers multiple disciplines. With an emphasis on customer success,
              employee well-being and talent development, our services teams have the experience,
              exposure, and expertise to meet all our customers requirements.
            </p>
          </div>
          <div class="about-page__bottom-links">
          </div>
          <div>
            <h2>Careers</h2>
            <p>
              People matter most at Apotica. Our employees work very hard to serve our customers – and we reward hard too.
              If you would love to join our mission of creating value for customers, employees, partners, and shareholders,
              write to us at <a href="mailto: hr@apotica.net">HR@apotica.net</a>
              to check on job vacancies that could suit your interests.
            </p>
          </div>
        </section>
      <br>
      <br>
      <br>
      <br>
    </article>
  </div>
</section>