<section>
  <%- partial('partial/hero/medium-hero',
  {
    type: 'about',
    leftContent:'About',
    mainContent: 'About Airwatch'
  })%>
</section>
<section class="about">
  <div class="about-apotica">
    <article class="company-statement">
      <h2>AirWatch was founded in 2003 and achieved early success in managing wireless endpoints and rugged devices.</h2>
      <p>
        In 2006, as smart devices entered the enterprise and employees required access to corporate information,
        the AirWatch leadership team strategically pivoted the company’s focus to the management of any mobile device,
        including the apps and data on the device. The team believed that the consumerization of
        IT would completely revolutionize the way companies do business – and they were right.
      </p>
      <p>
        In February 2013, AirWatch secured one of the largest Series A funding rounds in history at $200 million. One year later,
        AirWatch was acquired by VMware for $1.54 billion. Today, AirWatch is a core component of the
        VMware End-User Computing strategy and powers VMware Workspace ONE. With the combined power of AirWatch and VMware,
        organizations now have access to a complete solution that enables true business transformation.
      </p>
    </article>
    <div class="about-page__pictures">
      <article class="about-page__picture">
          <img src="https://storage.googleapis.com/airwatch_assets/images/about-AW-left.jpg" border="0" alt="">
      </article>
      <article class="about-page__picture">
          <img src="https://storage.googleapis.com/airwatch_assets/images/about-AW-right.jpg" border="0" alt="">
      </article>
    </div>
    <article class="company-statement">
      <h3>Career</h3>
      <p>Do you have a passion for mobile technology? Then dare to work with the industry’s leading technology
          for enterprise mobility at VMware. Dare to join the VMware
         AirWatch team and drive business transformation for some of the largest companies in the world.
      </p>
      <div class="about-page__bottom-links">
        <p>
          <a href="#">Visit careers.vmware.com to Learn More</a>
        </p>
        <p>
          <a href="#">Search AirWatch Careers</a>
        </p>
      </div>
      <h3>Partners</h3>
      <p>
        Are you interested in integrating your hardware or software solutions with
         VMware AirWatch? Or would you like to increase
        profitability and gain a competitive edge by reselling VMware products and services?
      </p>
      <div class="about-page__bottom-links">
        <p>
          <a href="#">Partner with Us</a>
        </p>
        <p></p>
      </div>
      <br>
      <br>
      <br>
      <br>
    </article>
  </div>
</section>