<section class="app-dynamics"> 
    <%- partial('partial/hero/medium-hero',
    {
      type: 'app-dynamics',
      subContent:'Get started quickly with AppDynamics',
      mainContent: 'An Integrated Digital Workspace for the Modern Workforce'
    })%>
  </section>
<%- partial('partial/sections/message-response') %>
<section class="app-dynamics">
    <div class="container m-t-70 m-b-100">
        <div class="campaign-container" id="campaign-container">
            <div class="container-large">
                <div class="campaign-content">
                    <p class="content-caption">
                        The network is becoming the center of your digital business, 
                        but it faces new security challenges. Apotica is working with Cisco to transform 
                        and secure networks confidently. See everything, reduce risks, and stop breaches. 
                        Experience the protection of Cisco today.
                    </p>
                    <div class="content-row m-t-30">
                        <div class="img-holder">
                            <img class="icon-medium" src="../../images/fire.png" alt="Avatar">
                        </div>
                        <div>
                            <div class="content-row_header">
                                <h2>Cisco Firepower Firewall</h2>
                            </div>
                            <p>
                                The industry’s first fully integrated, threat-focused next-gen firewall. 
                                It uniquely provides advanced threat protection before, during, and after attacks. 
                                With features such as application control, content filtering, and identity-based 
                                policies it ensures complete protection for your business and services.
                            </p>
                        </div>
                    </div>
                    <div class="content-row m-t-30">
                        <div class="img-holder">
                            <img class="icon-medium" src="../../images/armforendpoint.png" alt="Avatar">
                        </div>
                        <div>
                            <div class="content-row_header">
                                <h2>Cisco AMP for Endpoints</h2>
                            </div>
                            <p>
                                Many endpoint solutions claim to block 99 percent of threats, but what about the 1 percent that you're missing? 
                                Cisco AMP for Endpoints prevents malware and ransomware at point of entry, 
                                and uncover even the most advanced threats.
                            </p>
                        </div>
                    </div>
                    <div class="content-row m-t-30">
                        <div class="img-holder">
                            <img class="icon-medium" src="../../images/umbrella.png" alt="Avatar">
                        </div>
                        <div>
                            <div class="content-row_header">
                                <h2>Cisco Umbrella</h2>
                            </div>
                            <p>
                                Cisco Umbrella provides the first line of defense against threats on the internet. 
                                Because Umbrella is delivered from the cloud, it is the easiest way to protect all of your users, 
                                computers, and data from ransomware and other forms of malware.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-small" id="sales-container">
                <div class="campaign-form-container">
                    <div class="form-caption m-t-30 m-b-30">
                        <h2>Request for quote or additional info</h2>
                    </div>
                    <form action="" id="sales-form">
                        <form-body  >
                            <div class="input-wrap">
                                <input type="text" name="user_name" placeholder="Full Name" required min="4" max="32" pattern="[a-zA-Z\s-]+">
                            </div>
                            <div class="input-wrap">
                                <input type="text" name="user_title" id="" placeholder="Job Title" required min="3" max="32">
                            </div>
                            <div class="input-wrap">
                                <input type="text" name="user_company" placeholder="Company" min="3" max="32" required>
                            </div>
                            <div class="input-wrap">
                                <input type="email" name="user_email" placeholder="Email Address" required>
                            </div>
                            <div class="input-wrap">
                                <input type="phone" name="user_phone" placeholder="Phone Number" required >
                            </div>
                            <div class="input-wrap">
                                <!-- <input type="textarea" name="message" placeholder="Message" min="8" max="320" class="sales-input__item sales-textarea"> -->
                                <textarea rows="10" class="wrap-area" name="message" min="8" max="320" class="sales-input__item sales-textarea" placeholder="Do you have a message for us? "></textarea>
                            </div>
                            <div class="input-wrap">
                                <button class="m-b-8 btn__full-width large" type="submit" id="submit">Send my request</button>
                            </div>
                        </form-body>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>