<!-- <section class="app-dynamics"> 
    <%- partial('partial/hero/medium-hero',
    {
      type: 'app-dynamics',
      subContent:'Simplify your enterprise network with Cisco Meraki',
      mainContent: ''
    })%>
  </section> -->
<section class="app-dynamics">
    <div class="medium-hero medium-hero__app-dynamics">
        <div class="hero-text-wrapper desktop-only">
            <div class="hero-text">
                <h4> Simplify your enterprise network with Cisco Meraki </h4>
            </div>
        </div>
    </div>
</section>      
<%- partial('partial/sections/message-response') %>
<section class="app-dynamics">
    <div class="container m-t-70 m-b-100">
        <div class="campaign-container" id="campaign-container">
            <div class="container-large" id="container-large">
                <div class="campaign-content">
                    <p class="content-caption">
                        The network is becoming the center of your digital business, but it faces new IT challenges. 
                        Apotica is working with Cisco to provide small and large businesses with integrated solutions 
                        for daily IT challenges. Meraki products are complete out of the box and built to be reliable, scalable, and secure.
                    </p>
                    <div class="content-row m-t-30">
                        <div class="img-holder">
                            <img class="icon-large img-caption image-shadow" src="../../images/wireless-shadow.jpg" alt="Avatar">
                        </div>
                        <div>
                            <div class="content-row_header">
                                <h2>Wireless Access Points</h2>
                            </div>
                            <p>
                                Meraki includes 5 models of high performance access points for indoor and outdoor performance. 
                                Choose Meraki for wireless services including enterprise WiFi, wireless hotspots, 
                                guest management, BYOD, location analytics, and traffic shaping.
                            </p>
                        </div>
                    </div>
                    <div class="content-row m-t-30">
                        <div class="img-holder">
                            <img class="icon-large img-caption image-shadow" src="../../images/security-shadow.jpg" alt="Avatar">
                        </div>
                        <div>
                            <div class="content-row_header">
                                <h2>Security Appliances</h2>
                            </div>
                            <p>
                                Protect your small branch or big data center with Meraki. 
                                You get a complete networking and security system in a single appliance. 
                                Easily implement content filtering, intrusion detection, WAN optimization, 
                                ISP link bonding, and VPNs at your office with Meraki MX firewalls.
                            </p>
                        </div>
                    </div>
                    <div class="content-row m-t-30">
                        <div class="img-holder">
                            <img class="icon-large img-caption image-shadow" src="../../images/lan-switch-shadow.jpg" alt="Avatar">
                        </div>
                        <div>
                            <div class="content-row_header">
                                <h2>LAN Switches</h2>
                            </div>
                            <p>
                                24 and 48 port gigabit switches for the office. Connect your office PCs, phones, cameras, 
                                printers, servers, and other devices with Meraki switches. Realize enterprise-class 
                                performance and reliability through 10GbE uplinks, quality of service, and application 
                                visibility reports.
                            </p>
                        </div>
                    </div>
                    <div class="content-row m-t-30">
                        <div class="img-holder">
                            <img class="icon-large img-caption image-shadow" src="../../images/camera.jpg" alt="Avatar">
                        </div>
                        <div>
                            <div class="content-row_header">
                                <h2>Smart Cameras</h2>
                            </div>
                            <p>
                                Meraki brings magic to the enterprise video security world. 
                                Impossibly simple to deploy, configure, and manage, Meraki 
                                cameras provides reliable security and valuable business insights to organizations of any scale.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-small" id="sales-container">
                <div class="campaign-form-container">
                    <div class="form-caption m-t-30 m-b-30">
                        <h2>Request for quote or additional info</h2>
                    </div>
                    <form action="" id="sales-form">
                        <form-body  >
                            <div class="input-wrap">
                                <input type="text" name="user_name" placeholder="Full Name" required min="4" max="32" pattern="[a-zA-Z\s-]+">
                            </div>
                            <div class="input-wrap">
                                <input type="text" name="user_title" id="" placeholder="Job Title" required min="3" max="32">
                            </div>
                            <div class="input-wrap">
                                <input type="text" name="user_company" placeholder="Company" min="3" max="32" required>
                            </div>
                            <div class="input-wrap">
                                <input type="email" name="user_email" placeholder="Email Address" required>
                            </div>
                            <div class="input-wrap">
                                <input type="phone" name="user_phone" placeholder="Phone Number" required >
                            </div>
                            <div class="input-wrap">
                                <!-- <input type="textarea" name="message" placeholder="Message" min="8" max="320" class="sales-input__item sales-textarea"> -->
                                <textarea rows="10" class="wrap-area" name="message" min="8" max="320" class="sales-input__item sales-textarea" placeholder="Do you have a message for us? " required></textarea>
                            </div>
                            <div class="input-wrap">
                                <button class="m-b-8 btn__full-width large" type="submit" id="submit">Send my request</button>
                            </div>
                        </form-body>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>