<section>
  <%- partial('partial/hero/medium-hero',
  {
    type: 'cloud',
    subContent:'Cloud',
    mainContent: 'Embracing the cloud will help your business grow, innovate, and respond quicker to market trends. You can simplify IT operations and reduce costs with our Hybrid IT offerings from partners such as Cisco, Microsoft, and Kotage.'
  })%>
  <div id="CapaSticky" class="sub-nav original" style="visibility: visible;">
    <div class="container">
      <ul class="four-column-grid">
        <li class="col-md-3" id="business"><a href="#business_productivity"> <span>Business</span> <span>Productivity</span> </a></li>
        <li class="col-md-3" id="enterprise" ><a href="#enterprise_security"><span>Enterprise</span> <span>Security</span> </a></li>
      </ul>
  </div>
  </div>
</section>
<section class="advert" id="business_productivity">
  <div class="content two-column-grid">
      <div class="grid-item phone-img">
          <img src="../../images/cloud/cloud_businessproductivity.jpg" alt="">
      </div>
      <div class="wrap-content grid-item">
          <div class="row item ">
              <img src="../../images/endpoint-security.png">
          </div>
          <h2 data-scroll>Business Productivity</h2>
        <div class="advert__items">
            <ul>
                <li data-scroll>Corporate Emails </li>
                <li data-scroll>Document Management </li>
                <li data-scroll>Web Conferencing </li>
                <li data-scroll>Collaboration / IM </li>
                <li data-scroll>VOIP/ IP Telephony </li>
                <li data-scroll>Procurement Management</li>
            </ul>
        </div>
    </div>
  </div>
</section>
<section class="mobility" id="enterprise_security">
  <div class="content two-column-grid">
    <div class="grid-item wrap-content m-l-120">
        <div class="m-t-50 row item ">
          <img src="../../images/network-security.png">
        </div>
        <h2 data-scroll><a href="/capabilities/enterprise-mobility-management/">Enterprise Security</a></h2>
        <div class="advert__items">
          <ul class="invert">
            <li data-scroll>Web Application Security </li>
            <li data-scroll>Mobile Device Management </li>
            <li data-scroll>Two-Factor Authentication </li>
            <li data-scroll>Network Threat Detection </li>
            <li data-scroll>Email Security </li>
            <li data-scroll>Malware Protection </li>
          </ul>
        </div>
    </div>
    <div class="grid-item">
      <img class="m-l-120" src="../../images/cloud/cloud_enterprisesecurity.jpg" alt="">
    </div>
  </div>
</section>
