<section class="services">
    <%- partial('partial/services-hero', {type: 'consulting' }) %>

    <div class="services-intro">
        <h2>
          <strong>Consulting</strong> | Reach Your Business Goals Faster
        </h2>
        <h3>
          Our global network of experts is available to guide you as you tackle ambitious business goals, evolving requirements,
          and vertical-specific regulations and constraints.
        </h3>
        <article class="deployment-grid">
          <div class="deployment-grid__left">
            <h4>Packaged and Custom Offerings</h4>
            <p>
              Packaged consulting services include advanced enterprise deployments,
              health checks and migrations from an on-premises data center to a dedicated cloud environment.
              Custom consulting engagements may include deliverable-based statements of work (SOWs) and staff augmentation SOWs.
            </p>
            <p>
              For more information regarding packaged or custom offerings and tailored services, contact your account executive.
            </p>
          </div>
          <div class="deployment-grid__right">
              <h4>Health Checks</h4>
              <p>
                Our health check program is designed for customers interested in a holistic review of their use of Workspace ONE.
                Whether you’d like a system review before go-live, or an assessment and optimization post go-live,
                our health check program will leave you with the tools to increase solution value for your users and reach your business goals.
              </p>
          </div>
        </article>
    </div>

    <div class="footer-callout__container">
      <div class="footer-callout">
          <div class="footer-callout__left">
              <h2><span>Why Workspace One?</span></h2>
              <p>
                  AirWatch unified endpoint management (UEM) technology now powers VMware Workspace ONE,
                  an integrated platform for the digital workspace.
              </p>
              <h3>
                  <a href="#" class="btn-outline__rounded">LEARN MORE</a>
              </h3>
          </div>
          <div class="footer-callout__right">
              <h2><span>Pricing</span></h2>
              <p>
                  Explore product pricing and compare packages and features.
              </p>
              <h3>
                  <a href="#" class="btn-outline__rounded">SEE PRICING</a>
              </h3>
          </div>
      </div>
    </div>
  </section>
  <section class="advert">
      <div class="content two-column-grid">
          <div class="m-t-50 phone-img">
              <img src="/images/iphone_cropped_2x.png" alt="">
          </div>
          <div class="wrap-content">
              <h3>Try VMware Workspace<br>ONE FREE for 30 Days</h3>
              <ul>
                  <li class="icon-content">
                      <div> <img src="/images/rating@2x.png" alt=""></div>
                      <div>Fully Functional Product Trial</div>
                  </li>
                  <li class="icon-content">
                      <div> <img src="/images/multiple_devices@2x.png" alt=""></div>
                      <div>Enroll Up to 100 Devices</div>
                  </li>
                  <li class="icon-content">
                      <div> <img src="/images/no_credit_cards@2x.png" alt=""></div>
                      <div>No Credit Card Required</div>
                  </li>
              </ul>
              <button class="btn green m-b-50">Get Started Now</button>
          </div>
      </div>
  </section>