<section >
  <%- partial('partial/hero/medium-hero',
  {
    type: 'contact',
    subContent:'',
    mainContent: 'Contact Us'
  })%>
</section>
<section class="contact-sales m-t-50 m-b-50">
  <div class="two-column-grid">
    <div>
      <div class="row content">
        <ul class="contact-sales__items">
          <li>
            <div class="sale-item">
              <div class="caption">ADDRESS :</div>
              <span class="faint" >6 Osekere Road, Airport West, Accra</span>
            </div>
          </li>
          <li>
            <div class="sale-item">
              <div class="caption">PHONES :</div>
              <span class="faint" > +233-54-431-5710 <br> +233-30-278-0971 </span>
            </div>
          </li>
          <li>
            <div class="sale-item">
              <div class="caption">E-MAILS :</div>
              <span class="faint" >sales@apotica.net</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="contact-sales__form">
      <form action="https://formspree.io/unveilface@gmail.com" method="POST" id="contact-form">
      <div class="two-column-grid full-width">
        <div class="form-wrap">
        <div class="form-item">
          <input type="text" placeholder="Your Name" name="name" required minlength="3" maxlength="32">
        </div>
        <!-- <div class="error">Error is here</div> -->
      </div>
        <div class="form-wrap">
            <div class="form-item">
              <input type="phone"  name="phone" placeholder="Phone" required>
            </div>
            <!-- <div class="error">
              Phone error is here
            </div> -->
        </div>
      </div>
      <div class="row">
        <div class="form-wrap">
        <div class="form-item">
          <textarea name="message" id="" cols="62" rows="8" placeholder="Your Message" minlength="4" required></textarea>
        </div>
        <!-- <div class="error">Error is here</div> -->
      </div>
      </div>
      <div class="two-column-grid full-width">
        <div class="form-wrap">
        <div class="form-item">
          <input type="email" name="_replyto" placeholder="Business Email" required >
        </div>
        <!-- <div class="error">Error is here</div> -->
      </div>
        <div class="form-item__btn">
          <button class="btn large" type="submit" id="submit">SEND MESSAGE</button>
        </div>
      </div>
    </form>
    </div>
  </div>
</section>
