<section class=" m-t-60 m-b-50">
<div class="contact-information">
  <div class="contact-information__heading margin-bottom__hr">
    <h1>Contact Us</h1>
    <p>online: <a href="/go/sales/" class="apotica-link__secondary">Sales Contact Form</a><br>
    </p>
  </div>

  <div class="two-column-grid margin-bottom__hr ">
    <div class="contact-information__item">
      <h4><b>Ghana</b></h4>
      <p>address: 6 Osekere Road, Airport West, Accra<br>
        phone: +233.30.278.0971<br>
        email: <a href="#" class="apotica-link__secondary">sales@apotica.net</a><br>
      </p>
    </div>
    <div class="contact-information__item">

    </div>
  </div>

  <div class="two-column-grid">
    <div class="contact-information__item">
      <h4><b>Nigeria</b></h4>
      <p>address: 1 Shakiru Anjorin, Lekki Phase 1, Lagos<br>
        phone: +234.703.066.5979<br>
        email: <a href="#" class="apotica-link__secondary">salesng@apotica.net</a><br>
      </p>
    </div>
    <div class="contact-information__item">

    </div>
  </div>
</div>
</section>
<!-- Add mail to smtp server -->
<script async type="text/javascript" src="https://cdn.emailjs.com/sdk/2.3.2/email.min.js"></script>
<%- js('js/mailer') %>
