<section >
  <%- partial('partial/small-hero',
  {
    type: 'contact',
    isInLine:'true',
    leftContent:'Partners',
    mainContent: 'Contact Us'
  })%>
</section>
<section class="contact-sales m-t-50 m-b-50">
  <div class="two-column-grid">
    <div>
      <div class="row content">
        <ul class="contact-sales__items">
          <li>
            <div class="sale-item">
              <div class="caption">ADDRESS :</div>
              <span class="faint" >6 Osekere Road, Airport West, Accra</span>
            </div>
          </li>
          <li>
            <div class="sale-item">
              <div class="caption">PHONES :</div>
              <span class="faint" > +233-54-431-5710 +233-30-278-0971 </span>
            </div>
          </li>
          <li>
            <div class="sale-item">
              <div class="caption">E-MAILS :</div>
              <span class="faint" >sales@apotica.net</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="contact-sales__form">
      <div class="two-column-grid content">
        <div class="form-item">
          <input type="text" placeholder="Your Name" required>
        </div>
        <div class="form-item">
          <input type="text"  placeholder="Phone">
        </div>
      </div>
      <div class="row">
        <div class="form-item">
          <textarea name="" id="" cols="58" rows="8" placeholder="Your Message" required></textarea>
        </div>
      </div>
      <div class="two-column-grid content">
        <div class="form-item">
          <input type="text"  placeholder="Business Email" required>
        </div>
        <div class="form-item">
          <button class="btn large">SEND MESSAGE</button>
        </div>
      </div>
    </div>
  </div>
</section>
