<section >
  <%- partial('partial/hero/medium-hero',
  {
    type: 'contact',
    subContent:'',
    mainContent: 'Contact Us'
  })%>
</section>
<section class=" m-t-50 m-b-50">

<div class="contact-information">
  <div class="contact-information__heading">
    <h2>Contact Information</h2>
    <p>online: <a href="/go/sales/" class="apotica-link__secondary">Sales Contact Form</a><br>
    </p>
  </div>


  <div class="two-column-grid margin-bottom__hr ">
    <div class="contact-information__item">
      <h4><b>Ghana</b></h4>
      <p>phone: +1 415.848.8450<br>
        fax: +1&nbsp;415.462.5152<br>
        email: <a href="#" class="apotica-link__secondary">Contact our Americas Sales team</a><br>
      </p>
    </div>
    <div class="contact-information__item">
      <h4><b>Federal, State & Local Government</b></h4>
      <p>phone: +1 415.848.8450<br>
        fax: +1&nbsp;415.462.5152<br>
        email: <a href="#" class="apotica-link__secondary">Contact our Public Sector Sales team</a><br>
      </p>
    </div>
  </div>

  <div class="two-column-grid margin-bottom__hr">
    <div class="contact-information__item">
      <h4><b>Nigeria</b></h4>
      <p>phone: +1 415.848.8450<br>
        email: <a href="#" class="apotica-link__secondary">Contact our EMEA Sales team</a><br>
      </p>
    </div>
    <div class="contact-information__item">
      <h4><b>Germany, Switzerland, Austria, Eastern Europe and Russia</b></h4>
      <p>phone: +1 415.848.8450<br>
        fax: +1&nbsp;415.462.5152<br>
        email: <a href="#" class="apotica-link__secondary">Contact our EMEA Sales team</a><br>
      </p>
    </div>
  </div>

  <div class="two-column-grid margin-bottom__hr">
    <div class="contact-information__item">
      <h4><b>Southern Europe, Israel & West Africa</b></h4>
      <p>phone: +1 415.848.8450<br>
        email: <a href="#" class="apotica-link__secondary">Contact our EMEA Sales team</a><br>
      </p>
    </div>
    <div class="contact-information__item">
      <h4><b>Nordics</b></h4>
      <p>
        email: <a href="#" class="apotica-link__secondary">Contact our EMEA Sales team</a><br>
      </p>
    </div>
  </div>




</div>


</section>
