<section >
  <%- partial('partial/small-hero',
  {
    type: 'contact',
    isInLine:'true',
    leftContent:'Partners',
    mainContent: 'Sales'
  })%>
</section>
<section class="contact-sales m-t-50 m-b-50">
  <div class="two-column-grid">
    <div>
      <div class="row content">
        <ul class="contact-sales__items">
          <li>
            <div class="sale-item">
              <div class="caption">CONTACT SALES :</div>
              <span class="faint" >sales@apotica.net</span>
            </div>
          </li>
          <li>
            <div class="sale-item">
              <div class="caption">TALK TO A SPECIALIST :</div>
              <span class="faint" >sales@apotica.net</span>
            </div>
          </li>
          <li>
            <div class="sale-item">
              <div class="caption">REQUEST A PRICE :</div>
              <span class="faint" >sales@apotica.net</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="contact-sales__form">
      <div class="two-column-grid content">
        <div class="form-item">one</div>
        <div class="form-item">tow</div>
      </div>
      <div class="row">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus beatae laborum dignissimos vel aut aperiam,
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus beatae laborum dignissimos vel aut aperiam,
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus beatae laborum dignissimos vel aut aperiam,
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus beatae laborum dignissimos vel aut aperiam,
      </div>
      <div class="two-column-grid content">
        <div class="form-item">one</div>
        <div class="form-item">tow</div>
      </div>
    </div>
  </div>
</section>

<!-- <section>
  <div class="container">
    <div class="form-wrapper">
        <div class="caption"> <h2> Talk To A Sales Rep </h2> </div>
      <form action="">
        <div class="form-items">
          <div class="">
            <div class="form-item">
              <label for="name">FIRSTNAME</label>
              <input type="text" name="" id="" >
            </div>
            <div class="form-item">
              <label for="name">COMPANY EMAIL</label>
              <input type="text" name="" id="">
            </div>
            <div class="form-item">
              <label for="name">PERSONAL EMAIL</label>
              <input type="text" name="" id="">
            </div>
          </div>
          <div class="">
            <div class="form-item">
                <label for="name">LASTNAME</label>
                <input type="text" name="" id="">
            </div>
            <div class="form-item">
              <label for="name">JOB TITLE </label>
              <input type="text" name="" id="">
            </div>
            <div class="form-item">
              <label for="name">JOB TITLE </label>
              <input type="text" name="" id="">
            </div>
          </div>
        </div>
        <div class="full-form-items">
          <div class="caption form-item m-t-50">Tell us how we can help you</div>
          <div class="form-item">
            <label for=""></label>
              <textarea name="" id="" cols="30" rows="5" placeholder="QUESTION/COMMENT"></textarea>
          </div>
          <div class="form-item m-b-20">
            <button class="green btn m-t-20">Send Your Feed</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section> -->