<section>
  <div class="container">
    <div class="form-wrapper">
        <div class="caption"> <h2> Talk To A Sales Rep </h2> </div>
      <form action="">
        <div class="form-items">
          <div class="">
            <div class="form-item">
              <label for="name">FIRSTNAME</label>
              <input type="text" name="" id="" >
            </div>
            <div class="form-item">
              <label for="name">COMPANY EMAIL</label>
              <input type="text" name="" id="">
            </div>
            <div class="form-item">
              <label for="name">PERSONAL EMAIL</label>
              <input type="text" name="" id="">
            </div>
          </div>
          <div class="">
            <div class="form-item">
                <label for="name">LASTNAME</label>
                <input type="text" name="" id="">
            </div>
            <div class="form-item">
              <label for="name">JOB TITLE </label>
              <input type="text" name="" id="">
            </div>
            <div class="form-item">
              <label for="name">JOB TITLE </label>
              <input type="text" name="" id="">
            </div>
          </div>
        </div>
        <div class="full-form-items">
          <div class="caption form-item m-t-50">Tell us how we can help you</div>
          <div class="form-item">
            <label for=""></label>
              <textarea name="" id="" cols="30" rows="5" placeholder="QUESTION/COMMENT"></textarea>
          </div>
          <div class="form-item m-b-20">
            <button class="green btn m-t-20">Send Your Feed</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>