<section>
  <%- partial('partial/hero/medium-hero',
  {
    type: 'cybersecurity',
    subContent:'CyberSecurity',
    mainContent: 'The industry’s best cyber defense solutions integrated into your day-to-day business operations,from devices and equipment to software and services. The solutions include next-generation firewalls,log analytics and incidence response, automated patch management, and endpoint protection.'
  })%>
  <div id="CapaSticky" class="sub-nav original" style="visibility: visible;">
    <div class="container">
      <ul class="four-column-grid">
        <li class="col-md-3"><a href="#digital-workspace">Endpoint <br> Security</a></li>
        <li class="col-md-3"><a href="#emm">Network <br> Security</a></li>
        <li class="col-md-3"><a href="#uem" name="&amp;lpos=apps_scodevmw : 45"> Application <br> Security </a></li>
        <!-- <li class="col-md-3" ><a href="#security">Security for the<br>Digital Workspace</a></li> -->
      </ul>
  </div>
  </div>
</section>
<section class="advert">
  <div class="content two-column-grid">
      <div class="m-t-50 phone-img">
          <img src="/images/cc_img3.jpg" alt="">
      </div>
      <div class="wrap-content m-t-50">
          <div class="row item ">
              <img src="//air-watch.com/uploads/global-media/cc_icon_01%402x.png">
          </div>
          <h2>Endpoint Security</h2>
        <div class="advert__items">
            <ul>
                <li>Antivirus/Antimalware »</li>
                <li>Patch Management »</li>
                <li>Data Loss Protection »</li>
                <li>Endpoint Encryption »</li>
                <li>Mobile Device Management »</li>
            </ul>
        </div>
    </div>
  </div>
</section>
<section class="mobility m-t-100">
  <div class="content two-column-grid">
    <div class="wrap-content m-l-120">
        <div class="m-t-50 row item ">
          <img src="//air-watch.com/uploads/global-media/cc_icon_02%402x.png">
        </div>
        <h2><a href="/capabilities/enterprise-mobility-management/">Network Security</a></h2>
        <div class="advert__items">
          <ul>
            <li>>Enterprise Firewalls »</li>
            <li>Two-Factor Authentication »</li>
            <li>Network Access Control »</li>
            <li>Log Analytics »</li>
            <li>Intrusion Detection Systems »</li>
            <li>Remote Network Access »</li>
            <li>Secure Internet Gateway »</li>
            <li>Video Surveillance »</li>
          </ul>
        </div>
    </div>
    <div>
      <img class="m-l-120" src="/images/cc_img2.jpg" alt="">
    </div>
  </div>
</section>
<section class="advert">
    <div class="content two-column-grid">
        <div class="m-t-50 phone-img">
            <img src="/images/cc_img3.jpg" alt="">
        </div>
        <div class="wrap-content m-t-50">
            <div class="row item ">
                <img src="//air-watch.com/uploads/global-media/cc_icon_01%402x.png">
            </div>
            <h2>Application Security</h2>
          <div class="advert__items">
              <ul>
                  <li>Web Application Firewalls »</li>
                  <li>Database Activity Monitoring »</li>
                  <li>Privilege Access Management »</li>
                  <li>Identity & Access Management »</li>
                  <li> Security »</li>
              </ul>
          </div>
      </div>
    </div>
  </section>
<section class="mobility m-t-100">
    <div class="content two-column-grid">
      <div class="wrap-content m-l-120">
          <div class="m-t-50 row item ">
            <img src="/images/cc_icon_04@2x.png">
          </div>
          <h2><span href="/capabilities/enterprise-mobility-management/" >Security for the Digital Workspace</span></h2>
          <div class="advert__items">
            <ul>
              <li>Access Management »</li>
              <li>Conditional Access »</li>
              <li>y-alliance/">VMware Mobile Security Alliance »</li>
            </ul>
          </div>
      </div>
      <div>
        <img class="m-l-120" src="/images/cc_img4.jpg" alt="">
      </div>
    </div>
</section>
<section class="advert">
    <%- partial('partial/sections/phone-section')%>
 </section>
