<section>
  <%- partial('partial/hero/medium-hero',
  {
    type: 'cybersecurity',
    subContent:'Cybersecurity',
    mainContent: 'The industry’s best cyber defense solutions integrated into your day-to-day business operations, from devices and equipment to software and services. The solutions include next-generation firewalls, log analytics and incidence response, automated patch management, and endpoint protection.'
  })%>
  <div id="CapaSticky" class="sub-nav original" style="visibility: visible;">
    <div class="container">
      <ul class="four-column-grid">
        <li class="col-md-3" id="endpoint" ><a href="#endpoint_security"> <span>Endpoint</span> <span>Security</span> </a></li>
        <li class="col-md-3" id="network"><a href="#network_security">  <span>Network</span> <span>Security</span> </a></li>
        <li class="col-md-3" id="application" ><a href="#application_security" name="&amp;lpos=apps_scodevmw : 45">  <span>Application</span> <span>Security</span> </a></li>
        <li class="col-md-3" id="security" ><a href="#security_services"> <span>Security</span>  <span>Services</span> </a></li>
      </ul>
  </div>
  </div>
</section>
<section class="advert" id="endpoint_security">
  <div class="content two-column-grid">
      <div class="grid-item phone-img">
          <img src="/images/cybersecurity/cybersecurity_endpointsecurity.jpg" alt="">
      </div>
      <div class="wrap-content grid-item">
          <div class="row item ">
              <img src="//air-watch.com/uploads/global-media/cc_icon_01%402x.png">
          </div>
          <h2 data-scroll>Endpoint Security</h2>
        <div class="advert__items">
          <ul>
              <li data-scroll >Antivirus/Antimalware </li>
              <li data-scroll >Patch Management </li>
              <li data-scroll >Data Loss Protection </li>
              <li data-scroll >Endpoint Encryption </li>
              <li data-scroll >Mobile Device Management </li>
          </ul>
        </div>
    </div>
  </div>
</section>
<section class="mobility" id="network_security">
  <div class="content two-column-grid">
    <div class="grid-item wrap-content m-l-120">
        <div class="m-t-50 row item">
          <img src="//air-watch.com/uploads/global-media/cc_icon_02%402x.png">
        </div>
        <h2><a href="/capabilities/enterprise-mobility-management/">Network Security</a></h2>
        <div class="advert__items">
          <ul class="invert">
            <li>Enterprise Firewalls </li>
            <li>Two-Factor Authentication </li>
            <li>Network Access Control </li>
            <li>Log Analytics </li>
            <li>Intrusion Detection Systems </li>
            <li>Remote Network Access </li>
            <li>Secure Internet Gateway </li>
            <li>Video Surveillance </li>
          </ul>
        </div>
    </div>
    <div class="grid-item desktop-only">
      <img class="m-l-120" src="/images/cybersecurity/cybersecurity_networksecurity.jpg" alt="">
    </div>
  </div>
</section>
<section class="advert" id="application_security">
    <div class="content two-column-grid">
        <div class="grid-item phone-img">
            <img src="/images/cybersecurity/cybersecurity_appsecurity.jpg" alt="">
        </div>
        <div class="wrap-content grid-item">
            <div class="row item ">
                <img src="//air-watch.com/uploads/global-media/cc_icon_01%402x.png">
            </div>
            <h2>Application Security</h2>
          <div class="advert__items">
            <ul>
              <li>Web Application Firewalls </li>
              <li>Database Activity Monitoring </li>
              <li>Privilege Access Management </li>
              <li>Identity & Access Management </li>
              <li> Security </li>
            </ul>
          </div>
      </div>
    </div>
</section>
<section class="mobility" id="security_services">
    <div class="content two-column-grid">
      <div class="grid-item wrap-content m-l-120">
          <div class="m-t-50 row item ">
            <img src="//air-watch.com/uploads/global-media/cc_icon_02%402x.png">
          </div>
          <h2 data-scroll><a href="/capabilities/enterprise-mobility-management/">Security Services</a></h2>
          <div class="advert__items">
            <ul class="invert">
              <li data-scroll >Managed SOC </li>
              <li data-scroll >Penetration Testing </li>
              <li data-scroll >Vulnerability Assessments </li>
              <li data-scroll >IT Security Consulting </li>
              <li data-scroll >Information Systems Audit </li>
              <li data-scroll > IT Security Training </li>
            </ul>
          </div>
      </div>
      <div class="grid-item desktop-only">
        <img class="m-l-120" src="/images/cybersecurity/cybersecurity_securityservices.jpg" alt="">
      </div>
    </div>
  </section>

