<section>
  <%- partial('partial/hero/medium-hero',
  {
    type: 'cybersecurity',
    subContent:'CyberSecurity',
    mainContent: 'The industry’s best cyber defense solutions integrated into your day-to-day business operations,
    from devices and equipment to software and services. The solutions include next-generation firewalls,
    log analytics and incidence response, automated patch management, and endpoint protection.'
  })%>
  <div id="CapaSticky" class="sub-nav original" style="visibility: visible;">
    <div class="container">
      <ul class="four-column-grid">
        <li class="col-md-3"><a href="#digital-workspace">Endpoint <br> Security</a></li>
        <li class="col-md-3"><a href="#emm">Network <br> Security</a></li>
        <li class="col-md-3"><a href="#uem" name="&amp;lpos=apps_scodevmw : 45"> Application <br> Security </a></li>
        <!-- <li class="col-md-3" ><a href="#security">Security for the<br>Digital Workspace</a></li> -->
      </ul>
  </div>
  </div>
</section>
<section class="advert">
  <div class="content two-column-grid">
      <div class="m-t-50 phone-img">
          <img src="/images/cc_img3.jpg" alt="">
      </div>
      <div class="wrap-content m-t-50">
          <div class="row item ">
              <img src="//air-watch.com/uploads/global-media/cc_icon_01%402x.png">
          </div>
          <h2>Endpoint Security</h2>
        <div class="advert__items">
            <ul>
                <li><a href="/capabilities/unified-endpoint-management/">Antivirus/Antimalware »</a></li>
                <li><a href="/capabilities/workspace-one-intelligence/" >Patch Management »</a></li>
                <li><a href="/capabilities/identity-management/" >Data Loss Protection »</a></li>
                <li><a href="/capabilities/productivity-apps/" >Endpoint Encryption »</a></li>
                <li><a href="/capabilities/mobile-flows/" >Mobile Device Management »</a></li>
            </ul>
        </div>
    </div>
  </div>
</section>
<section class="mobility m-t-100">
  <div class="content two-column-grid">
    <div class="wrap-content m-l-120">
        <div class="m-t-50 row item ">
          <img src="//air-watch.com/uploads/global-media/cc_icon_02%402x.png">
        </div>
        <h2><a href="/capabilities/enterprise-mobility-management/">Network Security</a></h2>
        <div class="advert__items">
          <ul>
            <li><a href="/capabilities/mobile-device-management/" >Enterprise Firewalls »</a></li>
            <li><a href="/capabilities/mobile-application-management/">Two-Factor Authentication »</a></li>
            <li><a href="/capabilities/mobile-content-management/">Network Access Control »</a></li>
            <li><a href="/capabilities/mobile-content-management/">Log Analytics »</a></li>
            <li><a href="/capabilities/mobile-content-management/">Intrusion Detection Systems »</a></li>
            <li><a href="/capabilities/mobile-content-management/">Remote Network Access »</a></li>
            <li><a href="/capabilities/mobile-content-management/">Secure Internet Gateway »</a></li>
            <li><a href="/capabilities/mobile-content-management/">Video Surveillance »</a></li>
          </ul>
        </div>
    </div>
    <div>
      <img class="m-l-120" src="/images/cc_img2.jpg" alt="">
    </div>
  </div>
</section>
<section class="advert">
    <div class="content two-column-grid">
        <div class="m-t-50 phone-img">
            <img src="/images/cc_img3.jpg" alt="">
        </div>
        <div class="wrap-content m-t-50">
            <div class="row item ">
                <img src="//air-watch.com/uploads/global-media/cc_icon_01%402x.png">
            </div>
            <h2>Application Security</h2>
          <div class="advert__items">
              <ul>
                  <li><a href="/capabilities/unified-endpoint-management/">Web Application Firewalls »</a></li>
                  <li><a href="/capabilities/workspace-one-intelligence/" >Database Activity Monitoring »</a></li>
                  <li><a href="/capabilities/identity-management/" >Privilege Access Management »</a></li>
                  <li><a href="/capabilities/productivity-apps/" >Identity & Access Management »</a></li>
                  <li><a href="/capabilities/mobile-flows/" >Email Security »</a></li>
              </ul>
          </div>
      </div>
    </div>
  </section>
<section class="mobility m-t-100">
    <div class="content two-column-grid">
      <div class="wrap-content m-l-120">
          <div class="m-t-50 row item ">
            <img src="/images/cc_icon_04@2x.png">
          </div>
          <h2><a href="/capabilities/enterprise-mobility-management/" >Security for the Digital Workspace</a></h2>
          <div class="advert__items">
            <ul>
              <li><a href="/capabilities/identity-management/">Access Management »</a></li>
              <li><a href="/capabilities/conditional-access/">Conditional Access »</a></li>
              <li><a href="/capabilities/vmware-mobile-security-alliance/">VMware Mobile Security Alliance »</a></li>
            </ul>
          </div>
      </div>
      <div>
        <img class="m-l-120" src="/images/cc_img4.jpg" alt="">
      </div>
    </div>
</section>
<section class="advert">
    <%- partial('partial/sections/phone-section')%>
 </section>
