<section class="services">
    <%- partial('partial/services-hero', {type: 'deployment' }) %>

    <div class="services-intro">
        <h2>
            <strong>Deployment Services</strong> | Technical Resources to Maximize IT Investments
        </h2>
        <h3>
            Aimed at helping clients to protect investments, improve availability, decrease operating expenses,
            and optimize operations our professional services teams focus on quality roll out of
            IT infrastructure on-premises and in the cloud. Our expertise includes consulting and design,
            enterprise architecture, systems implementation, network optimization, and project management.
        </h3>
        <div class="training-cta">
            <a class="green btn training-cta__button" href="/go/sales">Get in Touch with Your Project Needs</a>
        </div>
      </div>
  </section>
