<section class="services">
    <%- partial('partial/services-hero', {type: 'Education' }) %>

    <div class="services-intro">
        <h2>
            <strong>Education</strong> | Technical Skills for Business Success
        </h2>
        <h3>
            Turn your career goals into a reality with professional training that will advance your knowledge.
            Whether you are aiming for certification, looking for a fast-track skills boost on a new technology or need an in-depth,
            practical training experience to transform your skills,
            our training portfolio has been developed to meet your organization’s requirements.
        </h3>
        <article class="deployment-grid">
            <div class="deployment-grid__left">
            <h4>Real-World Courses</h4>
            <p>
                Leading technical training for top technology vendors including Cisco, VMware, Fortinet, Microsoft, EMC and more.
                We have a large number of vendor certified instructors that have trained students worldwide through
                our multiple IT training delivery methods.
            </p>
            <!-- <p>
                For more information regarding packaged or custom offerings and tailored services, contact your account executive.
            </p> -->
            </div>
            <div class="deployment-grid__right">
                <h4>Multiple Delivery Formats</h4>
                <p>
                    Training is offered through multiple delivery methods, ranging from classroom instructor-led to self-paced learning,
                    onsite or at remote centers, enabling participants to choose when, where,
                    and how they want to receive training programs and learning services.
                </p>
            </div>
        </article>
        <div class="training-cta">
            <a class="green btn training-cta__button" href="/go/sales">Contact Us with Your Training Needs</a>
        </div>
    </div>


    <div class="footer-callout__container">
      <div class="footer-callout">
          <div class="footer-callout__left">
              <h2><span>Why Workspace One?</span></h2>
              <p>
                  AirWatch unified endpoint management (UEM) technology now powers VMware Workspace ONE,
                  an integrated platform for the digital workspace.
              </p>
              <h3>
                  <a href="#" class="btn-outline__rounded">LEARN MORE</a>
              </h3>
          </div>
          <div class="footer-callout__right">
              <h2><span>Pricing</span></h2>
              <p>
                  Explore product pricing and compare packages and features.
              </p>
              <h3>
                  <a href="#" class="btn-outline__rounded">SEE PRICING</a>
              </h3>
          </div>
      </div>
    </div>
  </section>