<%- partial('partial/hero/tiny-hero',
{
 subContent: ' ',
 mainContent: 'Get Ready With Cisco'
})%>
<section>
    <div class="container m-t-80 m-b-100">
        <div class="campaign-container">
            <div class="container-large">
                <div class="campaign-content">
                    <p class="content-caption">
                        The network is becoming the center of your digital business, but it faces new security challenges. 
                        Apotica is working with Cisco to transform and secure networks confidently. 
                        Reduce risks, gain 360-degree visibility, and stop breaches. 
                        Experience the protection of Cisco today. Contact us for a quote or additional information.
                    </p>
                    <div class="content-row">
                        <div class="img-holder">
                            <img src="../../images/cloud-icon.svg" alt="Avatar">
                        </div>
                        <div>
                            <div class="content-row_header">
                                <h2>Cisco Firepower Firewall</h2>
                            </div>
                            <p>
                                The industry’s first fully integrated, threat-focused next-gen firewall. 
                                It uniquely provides advanced threat protection before, during, and after attacks. 
                                With features such as application control, content filtering, and identity-based 
                                policies it ensures complete protection for your business and services.
                            </p>
                        </div>
                    </div>
                    <div class="content-row">
                        <div class="img-holder">
                            <img src="../../images/cloud-icon.svg" alt="Avatar">
                        </div>
                        <div>
                            <div class="content-row_header">
                                <h2>Cisco AMP for Endpoints</h2>
                            </div>
                            <p>
                                Many endpoint solutions claim to block 99 percent of threats, but what about the 1 percent that you're missing? 
                                Cisco Advanced Malware Protection (AMP) for Endpoints prevents malware and ransomware at point of entry, 
                                and uncover even the most advanced threats.
                            </p>
                        </div>
                    </div>
                    <div class="content-row">
                        <div class="img-holder">
                            <img src="../../images/cloud-icon.svg" alt="Avatar">
                        </div>
                        <div>
                            <div class="content-row_header">
                                <h2>Cisco Umbrella</h2>
                            </div>
                            <p>
                                Cisco Umbrella provides the first line of defense against threats on the internet. 
                                Because Umbrella is delivered from the cloud, it is the easiest way to protect all of your users, 
                                computers, and data from ransomware and other forms of malware.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-small">
                <div class="campaign-form-container">
                    <div class="form-caption m-b-30">
                        <h2>Get Started With Apotica</h2>
                    </div>
                    <form-body>
                        <div class="input-wrap">
                            <input type="text" name="user_name" placeholder="Full Name">
                        </div>
                        <div class="input-wrap">
                            <input type="text" name="user_title" id="" placeholder="Job Title">
                        </div>
                        <div class="input-wrap">
                            <input type="text" name="user_company" placeholder="Company">
                        </div>
                        <div class="input-wrap">
                            <input type="email" name="user_email" placeholder="Email Address">
                        </div>
                        <div class="input-wrap">
                            <input type="phone" name="user_phone" placeholder="Phone Number">
                        </div>
                        <div class="input-wrap">
                            <textarea name="message" required min="8" max="320" class="sales-input__item sales-textarea" placeholder="Do you have a message for "></textarea>
                        </div>
                        <div class="input-wrap">
                            <input type="submit" class="m-b-8">
                        </div>
                    </form-body>
                </div>
            </div>
        </div>
    </div>
</section>