<%- partial('partial/hero/medium-hero',
{
  type: 'get-support',
  subContent:'',
  mainContent: 'Get Help From VMware Support'
})%>
<section class="medium-hero__items m-t-50 m-b-100">
  <div class="three-column-grid container">
    <div class="box">
      <img src="//air-watch.com/uploads/user-icon.png">
      <h3>Log In to My Workspace ONE</h3>
      <div id="rectangle-bar"></div>
      <p>Access powerful self-help tools, high-quality documentation and an engaging user community for support at your fingertips.</p>
    </div>
    <div class="box">
      <img src="//air-watch.com/uploads/phone-icon.png">
      <h3>Contact Us by Phone</h3>
      <div id="rectangle-bar"></div>
      <p>Find regional and toll free numbers to get support by phone.</p>
    </div>

    <div class="box">
        <img src="//air-watch.com/uploads/world-icon.png">
        <h3>VMware Worldwide Office Locations</h3>
        <div id="rectangle-bar"></div>
        <p>VMware is headquartered in Palo Alto, California, with offices in locations around the world.</p>
       </div>
  </div>
</section>