<section class=" m-t-120 m-b-180">
    <div class="contact-information">
      <div class="contact-information__heading_help-page margin-bottom__hr">
        <h1>Customer Support</h1>
        <p>Apotica offers a variety of support options to help ensure your success<br>
        </p>
      </div>
      <div class="two-column-grid margin-bottom__hr ">
        <div class="contact-information__item">
          <!-- <h4><b>Hotlines</b></h4> -->
          <p>
            online: <a target="_" href="http://support.apotica.net" class="apotica-link__secondary">Support Portal</a> <br>
            phone: +233.30.278.0975<br>
            email: <a href="#" class="apotica-link__secondary">support@apotica.net</a><br>
          </p>
        </div>
        <div class="contact-information__item">
        </div>
      </div>
    </div>
</section>
