<%- partial('partial/header/hero') %>
 <section class="media-probe two-row-grid" id="media-probe"  data-scroll-dir-y>
     <article class="m-t-80 main-home">
         <div class="row al-ctr">
            <h2>See How Apotica Can Help Your Organization Respond Quicker to Market Trends</h2>
         </div>
     </article>
     <div class="four-column-grid">
         <div class="item">
            <img src="/images/nav/support.svg" alt="" >
            <h4>IT Services</h4>
            <p >Optimize operations, decrease operating expenses.</p>
            <button class="green btn m-t-20" data-scroll ><a href="/go/supplies" class="landing-link">Read More</a></button>
         </div>
         <div class="item">
             <img src="/images/nav/cybersecurity.svg" alt="">
             <h4>Cybersecurity</h4>
             <p >Protect your organization from service disruptions.</p>
             <button class="green btn m-t-20" data-scroll><a href="/go/cybersecurity" class="landing-link">Read More</a></button>
         </div>
         <div class="item">
             <img src="/images/nav/digital_infrastructure.svg" alt="">
             <h4>Digital Infrastructure</h4>
             <p>Improve customer experience with responsive IT infrastructure.</p>
             <button class="green btn m-t-20" data-scroll ><a href="/go/infrastructure" class="landing-link">Read More</a></button>
         </div>
         <div class="item">
            <img src="/images/nav/hybrid_cloud.svg" alt="">
            <h4>Hybrid Cloud</h4>
            <p >Cloud computing offers flexibility, disaster recovery, competitive edge. </p>
            <button class="green btn m-t-20" data-scroll ><a href="/go/cloud" class="landing-link">Read More</a></button>
         </div>
     </div>
 </section>
 <section class="banner">
   <div class="banner-row m-t-200" >
     <h1> Our Blogs</h1>
     <p>Thought leaders share technology trends and insights.</p>
     <div class="m-t-20">
        <button class="btn green" data-scroll ><a href="https://blogs.apotica.net" class="landing-link" target="_blank">See What You Missed</a></button>
     </div>
   </div>
 </section>
 <section class="social-media">
    <div class="row social-media-content m-t-100">
        <h2 > Recognized globally for our broad expertise and <br/> high level of customer satisfaction </h2>
    </div>
    <div class="grid row m-t-70">
        <div class="partner-logo"> <img src="/images/partners/cisco.png" alt=""> </div>
        <div class="partner-logo"> <img src="/images/partners/microsoft.png" alt="" sizes="" srcset=""> </div>
        <div class="partner-logo"> <img src="/images/partners/fortinet.jpg" alt=""> </div>
        <div class="partner-logo"> <img src="/images/partners/oracle.png" alt=""> </div>
        <div class="partner-logo"> <img src="/images/partners/vmware.jpg" alt=""> </div>
    </div>
 </section>