<%- partial('partial/header/hero') %>
 <section class="media-probe two-row-grid">
     <article class="main-home">
         <div class="row al-ctr">
            <h2>See How VMware Workspace ONE® Can Transform Your Business</h2>
         </div>
     </article>
     <div class="m-t-50 four-column-grid">
         <div class="item">
            <img src="/images/1.png" alt="">
            <h4>Devices</h4>
            <p >Configure, manage and support every endpoint.</p>
            <button class="green btn m-t-20" data-scroll >Read More</button>
         </div>
         <div class="item">
             <img src="/images/2.png" alt="">
             <h4>Apps</h4>
             <p >Increase productivity with seamless access to any app. </p>
             <button class="green btn m-t-20" data-scroll >Read More</button>
         </div>
         <div class="item">
             <img src="/images/3.png" alt="">
             <h4>BYOD</h4>
             <p>Allow personal devices without sacrificing security. </p>
             <button class="green btn m-t-20" data-scroll >Read More</button>
         </div>
         <div class="item">
            <img src="/images/4.png" alt="">
            <h4>Security</h4>
            <p >Safeguard company data at every layer. </p>
            <button class="green btn m-t-20" data-scroll >Read More</button>
         </div>
     </div>
 </section>
 <section class="banner">
   <div class="banner-row m-t-200" >
     <h1> Watch VMworld On Demand</h1>
     <p>Catch up with video replays of the VMworld 2018 Europe general sessions.</p>
     <div class="m-t-20">
        <button class="btn green" data-scroll >See What You Missed</button>
     </div>
   </div>
 </section>
 <section class="social-media">
    <div class="row social-media-content m-t-100">
        <h2 > Recognized globally for our broad expertise and <br/> high level of customer satisfaction </h2>
    </div>
    <div class="grid row m-t-70">
        <div class="partner-logo"> <img src="/images/partners/cisco.png" alt=""> </div>
        <div class="partner-logo"> <img src="/images/partners/microsoft.png" alt="" sizes="" srcset=""> </div>
        <div class="partner-logo"> <img src="/images/partners/fortinet.jpg" alt=""> </div>
        <div class="partner-logo"> <img src="/images/partners/oracle.png" alt=""> </div>
        <div class="partner-logo"> <img src="/images/partners/vmware.jpg" alt=""> </div>
    </div>
 </section>