<section>
  <%- partial('partial/hero/medium-hero',
  {
    type: 'infrastructure',
    subContent:'Digital Infrastructure',
    mainContent: 'Digital transformation is at the center of business strategies across industries. We offer the broadest range of expertise across architecture plays. Networking, compute, data storage, backup & recovery, and virtualization are all solutions to help you do more, move faster and perform better.'
  })%>
  <div id="CapaSticky" class="sub-nav original" style="visibility: visible;">
    <div class="container">
      <ul class="four-column-grid">
        <li class="col-md-3"><a href="#endpoint_security">Networking</a></li>
        <li class="col-md-3"><a href="#network_security">Data <br>Management</a></li>
        <li class="col-md-3"><a href="#application_security" name="&amp;lpos=apps_scodevmw : 45"> Data  <br> Center </a></li>
        <!-- <li class="col-md-3" ><a href="#security">Security for the<br>Digital Workspace</a></li> -->
      </ul>
  </div>
  </div>
</section>
<section class="advert" id="endpoint_security">
  <div class="content two-column-grid">
      <div class="grid-item phone-img">
          <img src="/images/cc_img3.jpg" alt="">
      </div>
      <div class="wrap-content grid-item">
          <div class="row item ">
              <img src="//air-watch.com/uploads/global-media/cc_icon_01%402x.png">
          </div>
          <h2 data-scroll>Networking</h2>
        <div class="advert__items">
            <ul>
                <li data-scroll>Enterprise Switching </li>
                <li data-scroll>Enterprise Routing </li>
                <li data-scroll>Corporate Wireless </li>
                <li data-scroll>VOIP / IP Telephony</li>
                <li data-scroll>Contact Center </li>
                <li data-scroll>Network Management</li>
            </ul>
        </div>
    </div>
  </div>
</section>
<section class="mobility" id="network_security">
  <div class="content two-column-grid">
    <div class="grid-item wrap-content m-l-120">
        <div class="m-t-50 row item ">
          <img src="//air-watch.com/uploads/global-media/cc_icon_02%402x.png">
        </div>
        <h2><a href="/capabilities/enterprise-mobility-management/">Data Management</a></h2>
        <div class="advert__items">
          <ul class="invert">
            <li>Enterprise Servers </li>
            <li>SAN Storage </li>
            <li>Backup & Recovery </li>
            <li>Virtualization </li>
            <li>Disaster Recovery </li>
          </ul>
        </div>
    </div>
    <div class="grid-item">
      <img class="m-l-120" src="/images/cc_img2.jpg" alt="">
    </div>
  </div>
</section>
<section class="advert" id="application_security">
    <div class="content two-column-grid">
        <div class="grid-item phone-img">
            <img src="/images/cc_img3.jpg" alt="">
        </div>
        <div class="wrap-content grid-item">
            <div class="row item ">
                <img src="//air-watch.com/uploads/global-media/cc_icon_01%402x.png">
            </div>
            <h2 data-scroll>Data Center</h2>
          <div class="advert__items">
            <ul>
              <li data-scroll>Construction </li>
              <li data-scroll>Power and Cooling </li>
              <li data-scroll>Backup Power </li>
              <li data-scroll>Cabling – Data/Electrical </li>
              <li data-scroll>Power Audits </li>
            </ul>
          </div>
      </div>
    </div>
</section>

