<section>
  <%- partial('partial/small-hero',
  {
    type: 'partner',
    isInLine:'false',
    leftContent:'Partners',
    mainContent: 'Better Together.'
  })%>
</section>
<section class="partnership-interests">
  <div class="partnership-interests__content">
    <h4>Your Partnership Interest
      <div class="h4-line"></div>
    </h4>
    <h2>I'd like to: </h2>
    <div class="partner-list">
      <article class="partner-list__item">
        <p><b>Integrate my hardware or software systems </b> with AirWatch and provide
        a more comprehensive solution for my customers.</p>
      </article>
      <article class="partner-list__item">
        <p><b>Resell AirWatch products</b> and services to increase my profitability and give me a competitive edge.</p>
      </article>
      <article class="partner-list__item">
        <p> Offer hosted solutions to third parties by <b>combining my managed services offering with VMware products</b> and services. </p>
      </article>
      <article class="partner-list__item">
        <p> <b>Build enterprise apps</b> that support native operating system capabilities and integrate with the AirWatch platform. </p>
      </article>
    </div>
    <ol class="partner-list">
      <li class="partner-nav__item">Technology Partner</li>
      <li class="partner-nav__item">VMware Solution Provider</li>
      <li class="partner-nav__item">VMware Service Provider</li>
      <li class="partner-nav__item">AppConfig Community</li>
    </ol>
  </div>
</section>
<section class="services">
  <div class="footer-callout__container">
    <div class="footer-callout">
        <div class="footer-callout__left">
            <h2><span>Why Workspace One?</span></h2>
            <p>
                AirWatch unified endpoint management (UEM) technology now powers VMware Workspace ONE,
                an integrated platform for the digital workspace.
            </p>
            <h3>
                <a href="#" class="btn-outline__rounded">LEARN MORE</a>
            </h3>
        </div>
        <div class="footer-callout__right">
            <h2><span>Pricing</span></h2>
            <p>
                Explore product pricing and compare packages and features.
            </p>
            <h3>
                <a href="#" class="btn-outline__rounded">SEE PRICING</a>
            </h3>
        </div>
    </div>
  </div>
</section>