<section>
  <%- partial('partial/small-hero',
  {
    type: 'partner',
    isInLine:'false',
    leftContent:'Partners',
    mainContent: 'Better Together.'
  })%>
</section>
<section class="partnership-interests m-t-80 m-b-80">
<div class="partnership-interests__grid">
  <div class="partnership-interest__grid-item">
    <div class="partner-logo">
      <div class="ui custom button partner">
        <img src="/images/partners/show-partners/logo_cisco.png" class="reduce">
      </div>
    </div>
    <div class="partner-details">
      <div class="ui custom-popup top left transition ">
        <div class="partner-details__head">
          <h1>Cisco</h1>
        </div>
        <div class="partner-details__content">
          <ul>
            <li>Collaboration</li>
            <li>Data Center</li>
            <li>Mobility</li>
            <li>Networking</li>
            <li>Security</li>
            <li>Service Provider</li>
        </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="partnership-interests__grid">
    <div class="partnership-interest__grid-item">
      <div class="partner-logo">
        <div class="ui custom button partner">
          <img src="/images/partners/show-partners/logo_ibm.png" class="reduce">
        </div>
      </div>
      <div class="partner-details">
        <div class="ui custom-popup top left transition ">
          <div class="partner-details__head">
            <h1>IBM</h1>
          </div>
          <div class="partner-details__content">
            <ul>
              <li>Cloud</li>
              <li>Data Center</li>
              <li>Networking</li>
              <li>Security</li>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="partnership-interests__grid">
      <div class="partnership-interest__grid-item">
        <div class="partner-logo">
          <div class="ui custom button partner">
            <img src="/images/partners/show-partners/logo_fortinet.png" class="enlarge">
          </div>
        </div>
        <div class="partner-details">
          <div class="ui custom-popup top left transition ">
            <div class="partner-details__head">
              <h1>Fortinet</h1>
            </div>
            <div class="partner-details__content">
              <ul>
                <li>Data Center</li>
                <li>Networking</li>
                <li>Security</li>

            </ul>
            </div>
          </div>
        </div>
      </div>
  </div>
  <div class="partnership-interests__grid">
      <div class="partnership-interest__grid-item">
        <div class="partner-logo">
          <div class="ui custom button partner">
            <img src="/images/partners/show-partners/logo_vmware.png">
          </div>
        </div>
        <div class="partner-details">
          <div class="ui custom-popup top left transition ">
            <div class="partner-details__head">
              <h1>VMware</h1>
            </div>
            <div class="partner-details__content">
              <ul>
                <li>Cloud</li>
                <li>Data Center</li>

            </ul>
            </div>
          </div>
        </div>
      </div>
  </div>
  <div class="partnership-interests__grid">
      <div class="partnership-interest__grid-item">
        <div class="partner-logo">
          <div class="ui custom button partner">
            <img src="/images/partners/show-partners/logo_microsoft.png">
          </div>
        </div>
        <div class="partner-details">
          <div class="ui custom-popup top left transition ">
            <div class="partner-details__head">
              <h1>Microsoft</h1>
            </div>
            <div class="partner-details__content">
              <ul>
                <li>Cloud</li>
                <li>Data Center</li>
            </ul>
            </div>
          </div>
        </div>
      </div>
  </div>
  <div class="partnership-interests__grid custom-details__top">
    <div class="partnership-interest__grid-item custom-details__top">
      <div class="partner-logo">
        <div class="ui custom-popup button partner">
          <img src="/images/partners/show-partners/logo_ivanti.png">
        </div>
      </div>
      <div class="partner-details">
        <div class="ui custom-popup top left transition ">
          <div class="partner-details__head">
            <h1>Ivanti</h1>
          </div>
          <div class="partner-details__content">
            <ul>
              <li>Security</li>
          </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="partnership-interests__grid">
    <div class="partnership-interest__grid-item">
      <div class="partner-logo">
        <div class="ui custom button partner">
          <img src="/images/partners/show-partners/logo_commvault.png" class="reduce">
        </div>
      </div>
      <div class="partner-details">
        <div class="ui custom-popup top left transition ">
          <div class="partner-details__head">
            <h1>Commvault</h1>
          </div>
          <div class="partner-details__content">
            <ul>
              <li>Cloud</li>
              <li>Data  Protection</li>
              <li>Disaster Recovery</li>
          </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="partnership-interests__grid">
    <div class="partnership-interest__grid-item">
      <div class="partner-logo">
        <div class="ui custom button partner">
          <img src="/images/partners/show-partners/logo_veeam.png" class="enlarge" >
        </div>
      </div>
      <div class="partner-details">
        <div class="ui custom-popup top left transition ">
          <div class="partner-details__head">
            <h1>Veeam</h1>
          </div>
          <div class="partner-details__content">
            <ul>
              <li>Cloud</li>
              <li>Data Protectio</li>
              <li>Disaster Recovery</li>
          </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="partnership-interests__grid">
    <div class="partnership-interest__grid-item">
      <div class="partner-logo">
        <div class="ui custom button partner">
          <img src="/images/partners/show-partners/logo_hpe.svg">
        </div>
      </div>
      <div class="partner-details">
        <div class="ui custom-popup top left transition ">
          <div class="partner-details__head">
            <h1>HPE</h1>
          </div>
          <div class="partner-details__content">
            <ul>
              <li>Data Center</li>
              <li>Networking</li>
              <li>Security</li>
          </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="partnership-interests__grid">
    <div class="partnership-interest__grid-item">
      <div class="partner-logo">
        <div class="ui custom button partner">
          <img src="/images/partners/show-partners/logo_dellemc.png">
        </div>
      </div>
      <div class="partner-details">
        <div class="ui custom-popup top left transition ">
          <div class="partner-details__head">
            <h1>Dell EMC</h1>
          </div>
          <div class="partner-details__content">
            <ul>
              <li>Data Center</li>
              <li>Networking</li>
              <li>Security</li>
          </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="partnership-interests__grid">
    <div class="partnership-interest__grid-item">
      <div class="partner-logo">
        <div class="ui custom button partner">
          <img src="/images/partners/show-partners/logo_aruba.png" class="reduce">
        </div>
      </div>
      <div class="partner-details">
        <div class="ui custom-popup top left transition ">
          <div class="partner-details__head">
            <h1>Aruba</h1>
          </div>
          <div class="partner-details__content">
            <ul>
              <li>Cloud</li>
              <li>Mobility</li>
              <li>Networking</li>
              <li>Security</li>
          </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="partnership-interests__grid">
      <div class="partnership-interest__grid-item">
        <div class="partner-logo">
          <div class="ui custom button partner">
            <img src="/images/partners/show-partners/logo_symantec.png" class="enlarge">
          </div>
        </div>
        <div class="partner-details">
          <div class="ui custom-popup top left transition ">
            <div class="partner-details__head">
              <h1>Symantec</h1>
            </div>
            <div class="partner-details__content">
              <ul>
                <li>Security</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
  </div>
  <div class="partnership-interests__grid">
      <div class="partnership-interest__grid-item">
        <div class="partner-logo">
          <div class="ui custom button partner">
            <img src="/images/partners/show-partners/logo_f5.png" class="reduce-more">
          </div>
        </div>
        <div class="partner-details">
          <div class="ui custom-popup top left transition ">
            <div class="partner-details__head">
              <h1>F5</h1>
            </div>
            <div class="partner-details__content">
              <ul>
                <li>Data Center</li>
                <li>Networking</li>
                <li>Security</li>
                <li>Service Provider</li>
            </ul>
            </div>
          </div>
        </div>
      </div>
  </div>
  <div class="partnership-interests__grid">
    <div class="partnership-interest__grid-item">
      <div class="partner-logo">
        <div class="ui custom button partner">
          <img src="/images/partners/show-partners/logo_oracle.png" class="enlarge">
        </div>
      </div>
      <div class="partner-details custom-details__right">
        <div class="ui custom-popup top left transition ">
          <div class="partner-details__head">
            <h1>Oracle</h1>
          </div>
          <div class="partner-details__content">
            <ul>
              <li>Cloud</li>
              <li>Data Center</li>
          </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="partnership-interests__grid">
      <div class="partnership-interest__grid-item">
        <div class="partner-logo">
          <div class="ui custom button partner">
            <img src="/images/partners/show-partners/logo_kotage.png" class="enlarge">
          </div>
        </div>
        <div class="partner-details">
          <div class="ui custom-popup top left transition ">
            <div class="partner-details__head">
              <h1>Kotage</h1>
            </div>
            <div class="partner-details__content">
              <ul>
                <li>eSourcing</li>
                <li>Procurement</li>
                <li>Invoicing</li>
          </div>
        </div>
      </div>
  </div>
</section>
