<section>
  <%- partial('partial/small-hero',
  {
    type: 'partner',
    isInLine:'false',
    leftContent:'Partners',
    mainContent: 'Better Together.'
  })%>
</section>
<section class="partnership-interests m-t-10">
    <div class="container">
        <div class="ui custom button">Show custom popup</div>
      </div>
      <div class="ui custom popup top left transition hidden">
        <ul>
          <li>one</li>
          <li>Two</li>
          <li>Three</li>
          <li>Four</li>
          <li>Five</li>
        </ul>
    </div>
  <!-- Errors likely caused by JQuery not working in semantic-UI. Check the console.  -->
</section>
<section class="services">
  <div class="footer-callout__container">
    <div class="footer-callout">
        <div class="footer-callout__left">
            <h2><span>Why Workspace One?</span></h2>
            <p>
                AirWatch unified endpoint management (UEM) technology now powers VMware Workspace ONE,
                an integrated platform for the digital workspace.
            </p>
            <h3>
                <a href="#" class="btn-outline__rounded">LEARN MORE</a>
            </h3>
        </div>
        <div class="footer-callout__right">
            <h2><span>Pricing</span></h2>
            <p>
                Explore product pricing and compare packages and features.
            </p>
            <h3>
                <a href="#" class="btn-outline__rounded">SEE PRICING</a>
            </h3>
        </div>
    </div>
  </div>
</section>
<script>
$('.container .custom.button')
  .popup({
    position : 'right center',
    popup : $('.custom.popup'),
    on    : 'hover'
  });
</script>