<section>
  <%- partial('partial/small-hero',
  {
    type: 'partner',
    leftContent:'Sample',
    mainContent: 'Here is the content for the hero'
  })%>
</section>
<section>
    PUT YOUR CONTENT HERE...
</section>