<section>
  <%- partial('partial/small-hero',
  {
    type: 'partner',
    isInLine:'false',
    leftContent:'Partners',
    mainContent: 'Better Together.'
  })%>
</section>
<section class="partnership-interests m-t-80 m-b-80">
  <div class="partnership-interests__grid">
    <div class="partnership-interest__grid-item">
      <div class="partner-logo">
        <div class="ui custom-popup button partner">
          <img src="/images/partners/show-partners/logo_ivanti.png">
        </div>
      </div>
      <div class="partner-details">
        <div class="ui custom-popup top left transition ">
          <div class="partner-details__head">
            <h1>Ivanti</h1>
          </div>
          <div class="partner-details__content">
            <ul>
              <li>Collaboration</li>
              <li>Collaboration</li>
              <li>Collaboration</li>
              <li>Collaboration</li>
              <li>Collaboration</li>
              <li>Collaboration</li>
              <li>Collaboration</li>
              <li>Collaboration</li>
          </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="partnership-interests__grid">
    <div class="partnership-interest__grid-item">
      <div class="partner-logo">
        <div class="ui custom button partner">
          <img src="/images/partners/show-partners/logo_fortinet.png">
        </div>
      </div>
      <div class="partner-details">
        <div class="ui custom-popup top left transition ">
          <div class="partner-details__head">
            <h1>Fortinet</h1>
          </div>
          <div class="partner-details__content">
            <ul>
              <li>Collaboration</li>
              <li>Collaboration</li>
              <li>Collaboration</li>
              <li>Collaboration</li>
          </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="partnership-interests__grid">
    <div class="partnership-interest__grid-item">
      <div class="partner-logo">
        <div class="ui custom button partner">
          <img src="/images/partners/show-partners/logo_commvault.png">
        </div>
      </div>
      <div class="partner-details">
        <div class="ui custom-popup top left transition ">
          <div class="partner-details__head">
            <h1>Commvault</h1>
          </div>
          <div class="partner-details__content">
            <ul>
              <li>Collaboration</li>
              <li>Collaboration</li>
              <li>Collaboration</li>
              <li>Collaboration</li>
          </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="partnership-interests__grid">
    <div class="partnership-interest__grid-item">
      <div class="partner-logo">
        <div class="ui custom button partner">
          <img src="/images/partners/show-partners/logo_cisco.png">
        </div>
      </div>
      <div class="partner-details">
        <div class="ui custom-popup top left transition ">
          <div class="partner-details__head">
            <h1>Cisco</h1>
          </div>
          <div class="partner-details__content">
            <ul>
              <li>Collaboration</li>
              <li>Collaboration</li>
              <li>Collaboration</li>
          </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="partnership-interests__grid">
    <div class="partnership-interest__grid-item">
      <div class="partner-logo">
        <div class="ui custom button partner">
          <img src="/images/partners/show-partners/logo_veeam.png">
        </div>
      </div>
      <div class="partner-details">
        <div class="ui custom-popup top left transition ">
          <div class="partner-details__head">
            <h1>Veeam</h1>
          </div>
          <div class="partner-details__content">
            <ul>
              <li>Collaboration</li>
              <li>Collaboration</li>
              <li>Collaboration</li>
              <li>Collaboration</li>
              <li>Collaboration</li>
              <li>Collaboration</li>
          </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="partnership-interests__grid">
    <div class="partnership-interest__grid-item">
      <div class="partner-logo">
        <div class="ui custom button partner">
          <img src="/images/partners/show-partners/logo_ibm.png">
        </div>
      </div>
      <div class="partner-details">
        <div class="ui custom-popup top left transition ">
          <div class="partner-details__head">
            <h1>IBM</h1>
          </div>
          <div class="partner-details__content">
            <ul>
              <li>Collaboration</li>
              <li>Collaboration</li>
              <li>Collaboration</li>
              <li>Collaboration</li>
              <li>Collaboration</li>
              <li>Collaboration</li>
          </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="partnership-interests__grid">
    <div class="partnership-interest__grid-item">
      <div class="partner-logo">
        <div class="ui custom button partner">
          <img src="/images/partners/show-partners/logo_hpe.svg">
        </div>
      </div>
      <div class="partner-details">
        <div class="ui custom-popup top left transition ">
          <div class="partner-details__head">
            <h1>HPE</h1>
          </div>
          <div class="partner-details__content">
            <ul>
              <li>Collaboration</li>
              <li>Collaboration</li>
              <li>Collaboration</li>
              <li>Collaboration</li>
              <li>Collaboration</li>
              <li>Collaboration</li>
          </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="partnership-interests__grid">
    <div class="partnership-interest__grid-item">
      <div class="partner-logo">
        <div class="ui custom button partner">
          <img src="/images/partners/show-partners/logo_dellemc.png">
        </div>
      </div>
      <div class="partner-details">
        <div class="ui custom-popup top left transition ">
          <div class="partner-details__head">
            <h1>Dell EMC</h1>
          </div>
          <div class="partner-details__content">
            <ul>
              <li>Collaboration</li>
              <li>Collaboration</li>
              <li>Collaboration</li>
              <li>Collaboration</li>
              <li>Collaboration</li>
              <li>Collaboration</li>
          </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="partnership-interests__grid">
    <div class="partnership-interest__grid-item">
      <div class="partner-logo">
        <div class="ui custom button partner">
          <img src="/images/partners/show-partners/logo_vmware.png">
        </div>
      </div>
      <div class="partner-details">
        <div class="ui custom-popup top left transition ">
          <div class="partner-details__head">
            <h1>VMware</h1>
          </div>
          <div class="partner-details__content">
            <ul>
              <li>Collaboration</li>
              <li>Collaboration</li>
              <li>Collaboration</li>
              <li>Collaboration</li>
              <li>Collaboration</li>
              <li>Collaboration</li>
          </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="services">
  <div class="footer-callout__container">
    <div class="footer-callout">
        <div class="footer-callout__left">
            <h2><span>Why Workspace One?</span></h2>
            <p>
                AirWatch unified endpoint management (UEM) technology now powers VMware Workspace ONE,
                an integrated platform for the digital workspace.
            </p>
            <h3>
                <a href="#" class="btn-outline__rounded">LEARN MORE</a>
            </h3>
        </div>
        <div class="footer-callout__right">
            <h2><span>Pricing</span></h2>
            <p>
                Explore product pricing and compare packages and features.
            </p>
            <h3>
                <a href="#" class="btn-outline__rounded">SEE PRICING</a>
            </h3>
        </div>
    </div>
  </div>
</section>
<!-- <script>
$('.partner-logo .custom.button')
  .popup({
    inline:true,
    hoverable: true,
    position : 'right center',
    popup : $('.custom.popup'),
    on    : 'hover'
  });

</script> -->