<section >
  <%- partial('partial/small-hero',
  {
    type: 'contact',
    isInLine:'true',
    leftContent:'',
    mainContent: 'Privacy Policy'
  })%>
</section>
<section class="privacy-section">
  <div class="privacy-section__wrapper">
    <div>
      <div class="card card-title">
        <div>
          <a role="button" class="card-link">General Information
            <div class="card-arrow card-expand"></div>
          </a>
          <p class="privacy-section__card-content faint">
            Apotica, Inc. ("us", "we", or "our") operates the http://www.apotica.net website (the "Service").
            This page informs you of our policies regarding the collection, use and disclosure of Personal
            Information when you use our Service. We will not use or share your information with anyone except as described
            in this Privacy Policy.We use your Personal Information for providing and improving the Service.
            By using the Service, you agree to the collection and use of information in accordance with this policy.
          </p>
        </div>
      </div>

      <div class="card card-title">
        <div>
          <a role="button" class="card-link">Information Collection and Use
            <div class="card-arrow card-expand"></div>
          </a>
          <p class="privacy-section__card-content faint">
            While using our Service, we may ask you to provide us with certain
            personally identifiable information that can be used to
            contact or identify you. Personally identifiable information may include,
            but is not limited to, your email address, name, phone number,
            other information ("Personal Information").
          </p>
        </div>
      </div>

      <div class="card card-title">
        <div>
          <a role="button" class="card-link">Log Data
            <div class="card-arrow card-expand faint"></div>
          </a>
          <p class="privacy-section__card-content">
            We may also collect information that your browser sends whenever you visit our Service or when you access
            the Service by or through a mobile device ("Log Data"). This Log Data may include information
            such as your computer's Internet Protocol ("IP") address, browser type, browser version,
            the pages of our Service that you visit, the time and date of your visit,
            the time spent on those pages and other statistics. When you access the Service by or through a mobile device,
            this Log Data may include information such as the type of mobile device you use, your mobile device unique ID,
            the IP address of your mobile device, your mobile operating system, the type of mobile Internet browser you use
            and other statistics. In addition, we may use third party services such as Google Analytics that collect, monitor
            and analyze this type of information in order to increase our Service's functionality.
            These third party service providers have their own privacy policies addressing how they use such information.
          </p>
        </div>
      </div>
    </div>





    <div>
      <div class="card card-title">
        <div>
          <a role="button" class="card-link">Cookies
            <div class="card-arrow card-expand"></div>
          </a>
          <p class="privacy-section__card-content faint">
            Cookies are files with small amount of data, which may include an anonymous unique identifier.
            Cookies are sent to your browser from a web site and stored on your computer's hard drive.
            We use "cookies" to collect information. You can instruct your browser to refuse all cookies or to
            indicate when a cookie is being sent. However, if you do not accept cookies,
            you may not be able to use some portions of our Service.
          </p>
        </div>
      </div>

      <div class="card card-title">
        <div>
          <a role="button" class="card-link">Sharing Information
            <div class="card-arrow card-expand"></div>
          </a>
          <p class="privacy-section__card-content faint">
            We share your personal data with your consent or as necessary to complete any transaction or provide
            any service you have requested or authorized. For example,
            we share your business address and business contact details with product manufacturers
            when you place product orders with us. When you provide payment data to make a purchase,
            we will share payment data with banks and other entities that process payment transactions
            or provide other financial services, and for fraud prevention and credit risk reduction.
            In addition, we share personal data among our controlled affiliates and subsidiaries.
            We also share personal data with vendors or agents working on our behalf for the purposes described in this statement.
            For example, companies we've hired to provide customer service support or assist in protecting and securing our systems
            and services may need access to personal data in order to provide those functions. In such cases,
            these companies must abide by our data privacy and security requirements and are not allowed
            to use personal data they receive from us for any other purpose. We may also disclose personal data as part of
            a corporate transaction such as a merger or sale of assets.
          </p>
        </div>
      </div>

      <div class="card card-title">
        <div>
          <a role="button" class="card-link">Contact Us
            <div class="card-arrow card-expand"></div>
          </a>
          <p class="privacy-section__card-content faint">
            We may update our Privacy Policy from time to time. We will notify you of any changes by
            posting the new Privacy Policy on this page. You are advised to review this Privacy Policy periodically for any changes.
            Changes to this Privacy Policy are effective when they are posted on this page.
            If you have any questions about this Privacy Policy, please contact us at privacy@apotica.net.
          </p>
        </div>
      </div>
    </div>

  </div>
</section>