<section >
  <%- partial('partial/small-hero',
  {
    type: 'contact',
    isInLine:'true',
    leftContent:'',
    mainContent: 'Privacy Policy'
  })%>
</section>
<section class="privacy-section">
  <div class="privacy-section__wrapper">
    <div>
      <div class="card card-title">
        <div>
          <a href="#" role="button" class="card-link">General Information
            <div class="card-arrow"></div>
          </a>
        </div>
      </div>
      <div class="card card-title">
        <div>
          <a href="#" role="button" class="card-link">Information Collection and Use
            <div class="card-arrow"></div>
          </a>
        </div>
      </div>
      <div class="card card-title">
        <div>
          <a href="#" role="button" class="card-link">Log Data
            <div class="card-arrow"></div>
          </a>
        </div>
      </div>
    </div>

    <div>
      <div class="card card-title">
        <div>
          <a href="#" role="button" class="card-link">Cookies
            <div class="card-arrow"></div>
          </a>
        </div>
      </div>
      <div class="card card-title">
        <div>
          <a href="#" role="button" class="card-link">Sharing Information
            <div class="card-arrow"></div>
          </a>
        </div>
      </div>
      <div class="card card-title">
        <div>
          <a href="#" role="button" class="card-link">Contact Us
            <div class="card-arrow"></div>
          </a>
        </div>
      </div>
    </div>


  </div>
</section>