<section class="contact-sales m-t-50 m-b-50">
  <div class="sales-container">
    <div class="sales-row">
      <div class="sales-content">
        <div class="sales-form__wrapper">
            <div class="sales-form__parbase">
              <div class="sales-form">
                <div class="sales-form__theme">
                  <h4 class="sales-form__heading">Contact Sales</h4>
                  <div class="sales-form__content">
                    <form action="">
                      <div class="input-wrapper">
                        <label for="name" class="sales-input">
                          <input type="text" placeholder="What's your name?" class="sales-input__item">
                        </label>
                      </div>
                      <div class="input-wrapper">
                        <label for="email" class="sales-input">
                          <input type="text" placeholder="Please enter your business E-Mail" class="sales-input__item">
                        </label>
                      </div>
                      <div class="input-wrapper">
                        <label for="product-details" class="sales-input__textarea">
                          <input type="textarea" placeholder="Product Details" class="sales-input__item sales-textarea">
                        </label>
                      </div>
                      <div class="input-wrapper">
                        <label for="phone" class="sales-input">
                          <input type="text" placeholder="Phone" class="sales-input__item">
                        </label>
                      </div>
                      <div class="form-item__btn">
                        <button class="btn__full-width large" type="submit" id="submit">SEND REQUEST</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
