<section class="services">
  <%- partial('partial/services-hero', {type: 'supply' }) %>

  <div class="services-intro">
    <h2>
        <strong>IT Supplies</strong> |
    </h2>
    <h3>
        We have partnered with leading manufacturers to supply products you need, when you need them.
        These include office computer systems and accessories, cybersecurity solutions, networking equipment,
        data center solutions, electrical power solutions, and enterprise software.
    </h3>
    <div class="service-cta">
        <a class="green btn" href="/go/sales">Request a Quote</a>
    </div>
</div>
</section>
