<section class="services">
        <%- partial('partial/services-hero', {type: 'support' }) %>

    <div class="services-intro">
        <h2>
            <strong>Support</strong> | We're in Your Corner
        </h2>
        <h3>
        VMware is committed to the long-term success of our customers. We offer extensive resources for customer support,
        technical assistance and self-help options to help you meet your mobility and business goals.
        </h3>
        <article class="deployment-grid">
        <div class="deployment-grid__left">
            <h4>We’re There for You When You Need Us</h4>
            <p>
                Our support staff provides first-rate technical assistance to keep your mobile deployment running smoothly.
            </p>
            <p>
                Seven support centers are strategically placed around the world to provide you with fast and efficient access to the support team in your region during local business hours.
                Each center is staffed with engineers that provide industry-leading expertise in mobility and have experience supporting real-world mobile environments.
                Support is available in seventeen languages.
            </p>
        </div>
        <div class="deployment-grid__right">
            <p>
                <img src="https://storage.googleapis.com/airwatch_assets/images/map-updated.png" alt="">
            </p>
        </div>
        </article>
    </div>
    <div class="pricing-table">
    <div class="table-heading">
        <h2 class="table-title">AirWatch Customer Support Options</h2>
        <article class="pricing-heading">&nbsp</article>
        <article class="pricing-heading pricing_badge">Basic</article>
        <article class="pricing-heading pricing_badge">Production</article>
        <article class="pricing-heading pricing_badge">Mission Critical</article>
    </div>
    <div class="table-header">
        <article class="pricing-content">
            <h3>Support Details</h3>
        </article>
        <article class="pricing-content">
            <h3>Weekday Support for Test, Development and Non-Critical Deployments</h3>
        </article>
        <article class="pricing-content">
            <h3>Focused, 24-Hour Support for Production Environments</h3>
        </article>
        <article class="pricing-content">
            <h3>Priority Access to Senior-Level Engineers and Proactive Account Management</h3>
        </article>
    </div>
    <div class="table-header">
        <article class="pricing-content">
            <h3>Basic Support</h3>
        </article>
        <article class="pricing-content">
            <p>
                <a href="#">Basic Support</a>
            </p>
        </article>
        <article class="pricing-content">
                <p>
                    <a href="#">Production Support</a>
                </p>
        </article>
        <article class="pricing-content">
                <p>
                    <a href="#">Mission Critical Support for Workspace ONE</a>
                </p>
        </article>
    </div>
    </div>
</section>
