<section>
  <nav>
    <div class="nav-menu-content-wrapper">
    <header class="desktop-only" id="contact-header" >
        <ul>
            <li>
                <a href="tel:+233-54-431-5710" >
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <span>+233-54-431-5710</span>
                </a>
            </li>
            <li> <a href="/go/sales">Contact Sales</a></li>
            <li> <a href="/go/help">Customer Support</a></li>
        </ul>
    </header>
        <div class="nav-inner-content">
        <div class="nav-left nav-logo">
           <a href="/">
            <img class="logo" src="../../images/apotica.png" alt="Company logo">
           </a>
        </div>
        <div class="nav-right mobile-menu" id="mobile-menu">
            <div class="mobile-header m-t-20" >
                <div class="two-column-grid-static al-ctr" >
                    <div></div>
                    <div class="hamburger">
                        <div id="media-mob">
                            <div id="burger-top"></div>
                            <div id="burger-mid"></div>
                            <div id="burger-down"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
          <div class="nav-body  nav-menu-content al-ctr" id="menu">
            <div class="menu right">
                <ul class="nav-links">
                    <li>
                        <span class="link">What We Do</span>
                        <div class="dropdown service__dropdown">
                            <div class="dropdown-container">
                                <div class="top-row">
                                  <div class="two-row-grid faint-bd-bt">
                                      <div class="faint caption"> SOLUTIONS</div>
                                      <div class="two-column-grid-static">
                                          <div class="link-item">
                                              <a href="/go/cybersecurity">
                                                <div class="menu-sub-item">
                                                    <div class="circle-btn">
                                                        <img src="../../images/nav/cybersecurity.svg" alt="" class="icon-sm" >
                                                    </div>
                                                    <div>
                                                        <p>Cybersecurity</p>
                                                        <span class="faint">Security across the enterprise</span>
                                                    </div>
                                                </div>
                                              </a>
                                              <a href="/go/infrastructure">
                                                <div class="menu-sub-item">
                                                    <div class="circle-btn">
                                                        <img src="../../images/nav/digital_infrastructure.svg" alt="" class="icon-sm" >
                                                    </div>
                                                    <div>
                                                        <p>Digital Infrastructure</p>
                                                        <span class="faint">The power of technology</span>
                                                    </div>
                                                </div>
                                              </a>
                                          </div>
                                          <div>
                                              <a href="/go/cloud">
                                                <div class="menu-sub-item">
                                                    <div class="circle-btn">
                                                        <img src="../../images/nav/hybrid_cloud.svg" alt="" class="icon-sm" >
                                                    </div>
                                                    <div>
                                                        <p>Cloud</p>
                                                        <span class="faint">Best of all worlds</span>
                                                    </div>
                                                </div>
                                              </a>
                                              <a href="/go/automation">
                                                <div class="menu-sub-item">
                                                    <div class="circle-btn">
                                                        <img src="../../images/nav/car.svg" alt="" class="icon-sm" >
                                                    </div>
                                                    <div>
                                                        <p>Automation</p>
                                                        <span class="faint">Optimize, innovate, grow</span>
                                                    </div>
                                                </div>
                                              </a>
                                          </div>
                                      </div>
                                  </div>
                                </div>
                                <div class="bottom-roow">
                                    <div class="two-row-grid m-t-20">
                                        <div class="faint caption" > SERVICES </div>
                                        <div class="two-column-grid-static">
                                            <div>
                                                <a href="/go/supplies">
                                                    <div class="menu-sub-item">
                                                        <div class="circle-btn">
                                                            <img src="../../images/nav/supplies.svg" alt="" class="icon-sm" >
                                                        </div>
                                                        <div>
                                                            <p>Supplies</p>
                                                            <span class="faint">IT Products whenever, wherever</span>
                                                        </div>
                                                    </div>
                                                </a>
                                                <a href="/go/deployment">
                                                    <div class="menu-sub-item">
                                                        <div class="circle-btn">
                                                            <img src="../../images/nav/deployment.svg" alt="" class="icon-sm" >
                                                        </div>
                                                        <div>
                                                            <p>Deployment</p>
                                                            <span class="faint">Implement more efficienty</span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div>
                                                <a href="/go/education">
                                                    <div class="menu-sub-item">
                                                        <div class="circle-btn">
                                                            <img src="../../images/nav/education.svg" alt="" class="icon-sm" >
                                                        </div>
                                                        <div>
                                                            <p>Education</p>
                                                            <span class="faint">IT professional training</span>
                                                        </div>
                                                    </div>
                                                </a>
                                                <a href="/go/support">
                                                    <div class="menu-sub-item">
                                                        <div class="circle-btn">
                                                            <img src="../../images/nav/support.svg" alt="" class="icon-sm" >
                                                        </div>
                                                        <div>
                                                            <p>Support</p>
                                                            <span class="faint">Keep your business running</span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="/go/partners">
                            <span class="link">Partners</span>
                        </a>
                    </li>
                    <li>
                    <span class="link">Company</span>
                    <div class="dropdown company__dropdown">
                        <div class="dropdown-container">
                            <div class="top-row">
                                <div class="two-row-grid">
                                    <div>
                                        <ul class="menu">
                                            <li class="custom-link-item">
                                                <a href="/go/about"> About us</a>
                                            </li>
                                            <li class="custom-link-item">
                                                <a href="/go/contact"> Contact us</a>
                                            </li>
                                            <li class="custom-link-item">
                                                <a href="https://blogs.apotica.net/" target="_blank"> Blogs</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </li>
                </ul>
            </div>
          </div>
        </div>
        <div class="border-gradient"></div>
    </div>
  </nav>
  <div class="header-position"></div>
</section>