<section>
    <div class="hero">

      <div class="hero-text-wrapper">
          <div class="hero-text max-width-halfcol">
              <p class="m-t-20">
                  Workspace ONE® powered by VMware AirWatch is the unified
                  digital workspace platform that simplifies and secures app
                  access and IT management for the modern workforce.
              </p>
          </div>
          <div class="cta m-t-10">
              <button class="btn green">Discover the capabilities </button>
          </div>
      </div>

    </div>
</section>