<section>
    <div class="hero">

      <div class="hero-text-wrapper">
          <div class="hero-text">
              <p class="m-t-20">
                    How profitable would you be if you could make better design decisions,
                    implement more efficiently,
                    and maintain IT infrastructure portfolios more effectively?
              </p>
              <button class="btn green m-t-20">Discover our offerings </button>
              <!-- <div class="cta m-t-20">
              </div> -->
          </div>

      </div>

    </div>
</section>