<section class="footer">
    <div class="footer-row">
        <footer class="footer">
            <div class="footer-content" >
                <div class="footer-body">
                    <div id="footer-logo">
                        <div class="nav-logo">
                            <img class="logo" src="/images/apotica.png" alt="Company logo">
                        </div>
                    </div>
                    <div>
                        <div class="faint-white footer-menu--heading" >SOLUTIONS</div>
                        <div class="m-tb-10"> <a class="faint" href="#"> Cybersecurity</a> </div>
                        <div class="m-tb-10"> <a class="faint" href="#"> Hybrid Cloud</a> </div>
                        <div class="m-tb-10"> <a class="faint" href="#"> Digital Infrastructure</a> </div>
                    </div>
                    <div>
                        <div class="faint-white footer-menu--heading" >SERVICES</div>
                        <div class="m-tb-10"> <a class="faint" href="#"> Supplies</a> </div>
                        <div class="m-tb-10"> <a class="faint" href="#"> Education</a> </div>
                        <div class="m-tb-10"> <a class="faint" href="#"> Deployement</a> </div>
                        <div class="m-tb-10"> <a class="faint" href="#"> Support</a>  </div>
                    </div>
                    <div>
                        <div class="faint-white footer-menu--heading">COMPANY</div>
                        <div class="m-tb-10"> <a class="faint" href="#"> About</a> </div>
                        <div class="m-tb-10"> <a class="faint" href="#"> Contact Us</a> </div>
                        <div class="m-tb-10"> <a class="faint" href="#"> Blogs</a> </div>
                    </div>
                    <div>
                        <div class="faint-white footer-menu--heading" > Social Icons</div>
                        <div class="m-tb-10"> <a class="faint" href="#"><img class="footer-social__icon" src="/images/footer/twitter.svg" alt="Company logo"></a> </div>
                    </div>
                </div>
                <div class="footer-bottom">
                    <div class="footer-bottom-left">
                        <span class="faint" data-reactid="888">© Kotage</span>
                        <a href="#"><span class="faint" data-reactid="888">Terms</span></a>
                        <a href="#"><span class="faint" data-reactid="888">Privacy</span></a>
                        <a href="#"><span class="faint" data-reactid="888">Security</span></a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</section>