<section class="footer">
    <div class="footer-row">
        <footer class="footer">
            <div class="footer-content" >
                <div class="footer-body">
                    <div id="footer-logo">
                        <div class="nav-logo">
                            <img class="logo" src="/images/apotica.png" alt="Company logo">
                        </div>
                    </div>
                    <div>
                        <div class="faint-white footer-menu--heading" >PRODUCTS</div>
                        <div class="m-tb-10"> <a class="faint" href="#"> Maps</a> </div>
                        <div class="m-tb-10"> <a class="faint" href="#"> Search</a> </div>
                        <div class="m-tb-10"> <a class="faint" href="#"> Navigation</a> </div>
                        <div class="m-tb-10"> <a class="faint" href="#"> Studio</a> </div>
                        <div class="m-tb-10"> <a class="faint" href="#"> Atlas</a> </div>
                        <div class="m-tb-10"> <a class="faint" href="#"> Atlas</a> </div>
                    </div>
                    <div>
                        <div class="faint-white footer-menu--heading" >USE CASES</div>
                        <div class="m-tb-10"> <a class="faint" href="#"> Store locator</a> </div>
                        <div class="m-tb-10"> <a class="faint" href="#"> turn-by-turn navigation</a> </div>
                        <div class="m-tb-10"> <a class="faint" href="#"> On-demand logistics</a> </div>
                        <div class="m-tb-10"> <a class="faint" href="#"> Data visualization</a>  </div>
                        <div class="m-tb-10"> <a class="faint" href="#"> Asset tracking</a></div>
                    </div>
                    <div>
                        <div class="faint-white footer-menu--heading">RESOURCES</div>
                        <div class="m-tb-10"> <a class="faint" href="#"> Documentation</a> </div>
                        <div class="m-tb-10"> <a class="faint" href="#"> Help</a> </div>
                        <div class="m-tb-10"> <a class="faint" href="#"> Events</a> </div>
                        <div class="m-tb-10"> <a class="faint" href="#"> Live sessions</a> </div>
                        <div class="m-tb-10"> <a class="faint" href="#"> Open source</a> </div>
                    </div>
                    <div>
                        <div class="faint-white footer-menu--heading" > COMPANY</div>
                        <div class="m-tb-10"> <a class="faint" href="#"> About</a> </div>
                        <div class="m-tb-10"> <a class="faint" href="#"> Customers</a> </div>
                        <div class="m-tb-10"> <a class="faint" href="#"> Community</a> </div>
                        <div class="m-tb-10"> <a class="faint" href="#"> Careers</a> </div>
                        <div class="m-tb-10"> <a class="faint" href="#"> Team</a> </div>
                        <div class="m-tb-10"> <a class="faint" href="#"> Blog</a> </div>
                        <div class="m-tb-10"> <a class="faint" href="#"> Press</a> </div>
                        <div class="m-tb-10"> <a class="faint" href="#"> Contact</a> </div>
                    </div>
                </div>
                <div class="footer-bottom">
                    <div class="footer-bottom-left">
                        <span class="faint" data-reactid="888">© Kotage</span>
                        <a href="#"><span class="faint" data-reactid="888">Terms</span></a>
                        <a href="#"><span class="faint" data-reactid="888">Privacy</span></a>
                        <a href="#"><span class="faint" data-reactid="888">Security</span></a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</section>