<!DOCTYPE html>
<html>
<head>
  <title>Apotica</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,600i,700,800" rel="stylesheet">
  <%- css('css/util/util') %>
  <%- css('css/partial/header') %>
  <%- css('css/partial/footer') %>
  <%- css('css/main') %>
  <meta name="robots" content="noindex,follow" />
</head>
