<div class="small-hero small-hero__<%= type %>">
  <%if(isInLine == 'true') {%>
    <div class="hero-text-wrapper ">
      <h1><%= mainContent %> </h1>
    </div>
  <%}else {%>
    <div class="hero-text-wrapper ">
      <h1><strong>  <%= leftContent %> </strong> |  <%= mainContent %> </h1>
    </div>
 <% } %>
</div>
