<div class="medium-hero medium-hero__<%= type %>">
  <div class="hero-text-wrapper ">
    <div class="hero-text">
        <h1 class="hero-text__content"> <%= mainContent %> </h1>
    </div>
  </div>
</div>
