<div class="medium-hero medium-hero__<%= type %>">
  <div class="hero-text-wrapper ">
    <div class="hero-text">
        <h4> Workspace ONE Capabilities </h4>
        <h1> <%= content %> </h1>
    </div>
  </div>
</div>
